[2020-04-24 10:08] jwscook opened #1 "Data IO - (related to hdf5?)"

[2020-04-24 10:08] jwscook opened #2 "Visualisation."
- Write post processing scripts on output to create pdf files of figures.
 - Plot recipes / tools to standardise plotting.

[2020-04-24 10:09] jwscook opened #3 "Shrink grid to fit."
At the moment uses a dense matrix for spatial discretisation. The sea is marked by inactive cells, land cells are marked active. The sea cells are a waste of computational effort (although minimal) but represent a bottleneck in parallelisation via domain decomposition. We need to work out how to remove need of inactive cells.

Needs to be done in 2 stages:

1. Make the grid tightly bound - all edg

[2020-04-24 10:09] jwscook opened #4 "Adapt epi code for MPI."

[2020-04-24 10:09] jwscook opened #5 "Benchmarking MPI performance"

[2020-04-24 10:09] jwscook opened #6 "Benchmarking threaded performance."
Target performance of outcome of #12

[2020-04-24 10:09] jwscook opened #7 "Benchmarking serial performance."
Benchmark, identifiy bottlenecks and potentially fix them.

Target performance of outcome of #12

[2020-04-24 10:09] jwscook opened #8 "Test cases for model behaviour."

[2020-04-24 10:09] jwscook opened #9 "Read & write HDF5."

[2020-04-24 10:12] #1 closed

[2020-04-24 10:12] jwscook commented on #1
This was a duplicate of #9

[2020-04-24 10:23] jwscook commented on #3
Need to look in:

https://github.com/ScottishCovidResponse/Simulation.jl/blob/epi/src/Epidemiology/EpiEnv.jl
https://github.com/ScottishCovidResponse/Simulation.jl/blob/epi/src/Epidemiology/EpiLandscape.jl
https://github.com/ScottishCovidResponse/Simulation.jl/blob/epi/src/Epidemiology/EpiSystem.jl
https://github.com/ScottishCovidResponse/Simulation.jl/blob/epi/src/Epidemiology/EpiGenerate.jl

[2020-04-24 10:31] jwscook commented on #3
Example https://github.com/ScottishCovidResponse/Simulation.jl/blob/epi/examples/Epidemiology/Scotland_SIR_example.jl lines 19 to 26

[2020-04-24 10:37] jwscook opened #10 "Consider refactor of Habitat constructor to accept population grid rather than boolean activity grid"
https://github.com/ScottishCovidResponse/Simulation.jl/blob/master/examples/Epidemiology/Scotland_SIR_example.jl#L26 accepts an `active` grid. Change functionality so that it accepts `scotpop`.

[2020-04-24 10:43] jwscook commented on #3
Links with #10

[2020-04-24 10:47] jwscook opened #11 "Extend simplehabitatAE grids to read climate data"
Relates #3 #10

[2020-04-24 10:52] jwscook opened #12 "Create canonical integration test / example to refactor / development against"
We need to make sure that we concentrate on the important features. These features will be in this integration test / example. Hence refactoring should never break this, but we may end up breaking the less important examples / integration tests.

[2020-04-24 10:56] jwscook commented on #12
Need to be able to run this locally and in CI. Should be as fast as possible.

 - 20 mins for a entire year, with timestep is a year.

So need to configure this integration test to run for 10, 50, 100, 365 days.

[2020-04-24 11:03] jwscook opened #13 "Make `EpiSystems` comparable with one another to enable easier testing"
To guard against new bugs we need to be able to compare the numbers in an EpiSystem with the numbers in another one via `isapprox`. The key quantity to compare is the `abundances` property.

[2020-04-24 11:05] jwscook opened #14 "Make `EpiSystem` writeable to disk"
Use `JLD2.jl` for this (which is actually hdf5 under the hood)

[2020-04-24 11:13] jwscook opened #15 "Make first steps towards reproducibility"
The zeroth order solution is to using JLD2

[code]

[2020-04-24 12:41] claireh93 commented on #11
At the moment the only "climate" information is a simple constant background temperature. Functions for connecting data from other climate systems need to be created for the epi branch (as they are in the main biodiversity code).

[2020-04-24 12:42] claireh93 commented on #12
Initial thoughts include a fairly small test grid (which could run much faster than whole Scotland/UK mentioned above), with different mixing rates and high transmission parameters.

[2020-04-24 12:49] claireh93 commented on #10
And so that this demographic information feeds into populating the `EpiLandscape` automatically.

[2020-04-24 13:34] jwscook commented on #4
@claireh93 & @richardreeve to discuss plan to MPIify the Epi files.

[2020-04-24 13:38] jwscook commented on #9
Input required from @richardreeve and others on this

[2020-04-24 14:41] jwscook opened #16 "Get travis working for epi branch"

[2020-04-24 14:44] jwscook opened #17 "Notes on installing Simulation.jl"
I needed to

1. Install R
1. Install R package `install.packages("picante", repos="http://R-Forge.R-project.org", dependencies=TRUE)`
1. Install MPI
1. `add git@github.com:JuliaBinaryWrappers/PROJ_jll.jl.git`
1. `add git@github.com:JuliaBinaryWrappers/GDAL_jll.jl.git`
1. `add git@github.com:yeesian/ArchGDAL.jl.git#v0.2.2`
1. `add git@github.com:ScottishCovidResponse/Simulation.jl.git`

need to cre

[2020-04-24 15:43] peter-t-fox opened #18 "Covid19_EERAModel: Implement basic build system"
Basic initial work on the repository:

* [x] Implement a CMake-based build
* [x] Re-organise the repository into separate source and test directories
* [x] Implement a dummy unit test using GTest as a demonstration of how it works
* [x] Document new layout, dependencies and build instructions in the project README

[2020-04-24 15:46] richardreeve commented on #11
Can we not use common code between the two rather than duplicating it?

[2020-04-24 16:11] claireh93 commented on #11
Yes that's a fair point, although some of the biodiversity ones do specific things, like using `budget` information (solar energy, water etc.) that was needed for plants and not for this.

[2020-04-24 16:26] richardreeve commented on #17
I'm surprised you had to do that:

[code]

I do have R and MPI libraries already installed, but this installed all of the other Julia packages locally as far as I can tell.

There were some broken precompilation things, and I'm sure I didn't use to have to set the JULIA_MPI_PATH, but otherwise it seems to have worked? Maybe it's something to do with the way you installed it?
[code]

[2020-04-24 16:31] richardreeve commented on #9
This is a cross-project issue, as we'll need to agree between the models what the data input should look like.

[2020-04-24 16:36] richardreeve opened #19 "Benchmark MPI code of master branch"
NAG will help with this work on `master` to guide us on necessary changes for `epi`.

[2020-04-24 16:38] richardreeve commented on #4
Depends on #19 to know whether a different approach to `master` is necessary.

[2020-04-27 08:13] #18 closed

[2020-04-27 08:47] jwscook commented on #17
I've just spun up a blank Docker container from `ubuntu:latest` to try the install. I've gotten as far as you, but fail at `pkg> test Simulation`

[code]

I'll see what I need to do to get the tests running.

I installed R from these instructions https://linuxize.com/post/how-to-install-r-on-ubuntu-18-04/, and installed MPI from `apt install mpich`. I didn't have to specify a `JULIA_MPI_PATH` for

[2020-04-27 09:26] jwscook commented on #17
Having downgraded a couple of packages:

[code]

[code]

[2020-04-27 09:29] peter-t-fox opened #20 "Create simple end to end test"
In order to allow the code to be refactored with confidence, we need a basic end to end test which indicates if the code is continuing to produce the expected outputs.

- [ ] Alter the code to allow a client test harness to feed in selectable parameters
- [ ] Alter the code to capture the code outputs in a data structure
- [ ] Implement the end to end test by comparing the actual outputs to the ex

[2020-04-27 09:33] peter-t-fox opened #21 "Refactor existing code base"
Plenty of scope for refactoring the existing code:

- [ ] Split into logical components (I/O, reading setup parameters, model execution)
- [ ] Look at re-using existing libraries for common operations (CSV file parsing, INI file parsing etc.)

[2020-04-27 09:53] jwscook commented on #17
[code]

[2020-04-27 12:50] claireh93 opened #22 "Documentation of model structure and design"
Create markdown documents of model structure as it currently stands, and design ideas for model development. These should be kept up-to-date as much as possible.

[2020-04-27 13:54] AlexRobson commented on #16
Picked this up to start working with the code

I have got Travis installing MPI and correctly building RCall, but I"m hitting the errors in https://github.com/ScottishCovidResponse/SCRCIssueTracking/issues/17

https://github.com/ScottishCovidResponse/Simulation.jl/tree/ar/travis

Is the julia version of 1.3.2 meant to be 1.3.1?

[2020-04-27 14:27] jwscook commented on #16
It looks like 1.3.2 not available as a download. Setting to 1.3.1 would be fine.

[2020-04-27 15:40] richardreeve commented on #16
Are we not going to run this with 1.4.0 given it's the latest (non-LTS) version?

[2020-04-27 16:00] jwscook commented on #16
It can be whatever you like - 1.5-dev even. But it's only important in the short term to make it run with the version that exists on the platform where it will run. Which one is that?

[2020-04-27 16:20] richardreeve commented on #16
Well, we're going to be running it on DiRAC, and as far as I know julia isn't currently installed, so we can choose, but we may as well go for 1.4.1?

[2020-04-28 08:55] jwscook commented on #17
Also need to install picante in R.

[code]

[2020-04-28 08:57] jwscook commented on #17
Downgrade notes:

[code]

[2020-04-28 09:17] claireh93 commented on #16
Simulation#epi tests currently fail as I hadn't updated them after a structure change - I'll fix that today.

[2020-04-28 10:33] jwscook commented on #17
From a  clean docker container:

[code]

The bits excluding the julia commands could become a Dockerfile

[2020-04-28 11:22] claireh93 commented on #16
Okay, so for this PR (https://github.com/ScottishCovidResponse/Simulation.jl/pull/2) the tests all pass for me now on 1.4.1, but I had to set OnlineStats@1.2.0 and Phylo@0.3.3 for this. Does that work for you Alex?

[2020-04-28 12:11] AlexRobson commented on #16
Thanks! I've done some package version changes with those downgrades and now bumping up against some of the other installation prerequisites listed in #17. This is the R package dependency. Working through these now, they will all have to be added to the travis script anyway.

Project.toml needs some package versioning I think.

[2020-04-28 18:21] richardreeve commented on #16
It would be great to add this in if you can work out what it needs - I can no longer run the test scripts on my computer and I could a couple weeks ago... package versioning constraints have been killing me recently!

[2020-04-28 18:39] jwscook commented on #17
See also https://github.com/ScottishCovidResponse/Simulation.jl/pull/2 for more notes. The missing ingredient was `DataAPI` so in summary:

[code]

[2020-04-28 21:58] richardreeve commented on #17
I'm embarrassed to say that `Phylo` is my package, and I had enormous difficulties updating that to be compatible with `Project.toml` a few weeks ago, but it seemed like we had finally fixed all of the problems. It would be great to work out how that's damaging things so I can fix it.

[2020-04-29 08:59] AlexRobson commented on #16
This is working now on 1.4: https://travis-ci.org/github/ScottishCovidResponse/Simulation.jl/builds/680763877

1.0.5 is failing though due to package resolution.

[2020-04-29 09:18] claireh93 commented on #16
That's great, thanks Alex! Just so you are aware, as of this morning I have merged epi back into master so we can all work off the master branch more directly. Perhaps these changes could be merged directly back into master once they are resolved?

[2020-04-29 10:40] jwscook commented on #17
Simulation.jl builds and tests pass after https://github.com/ScottishCovidResponse/Simulation.jl/pull/3

[2020-04-29 10:45] jwscook commented on #15
See also #17 #16

[2020-04-29 11:58] AlexRobson commented on #16
Thanks. I've rebased onto your changes. Here's an MR for this: https://github.com/boydorr/Simulation.jl/pull/1

I just set 1.0.5 to allow faiures for now...

[2020-04-29 13:38] jwscook commented on #8
closed in favour of #12

[2020-04-29 13:38] #8 closed

[2020-04-29 14:10] jwscook opened #23 "Exploit custom container in travis CI"
Follows on from #16.

The travis build takes 30s to install R and 250 to install MPI - let's consider using a custom image with all the dependencies installed to shave ~5 minutes off the CI wait.

See https://github.com/ScottishCovidResponse/SCRCIssueTracking/issues/17#issuecomment-620523487 for a proto Dockerfile.

See also notes https://docs.travis-ci.com/user/docker/

[2020-04-29 14:11] jwscook commented on #23
@AlexRobson you might want to take this one next

[2020-04-29 15:10] jwscook commented on #16
agreed

[2020-04-29 15:18] jwscook opened #24 "Write a Contibuting.md"

[2020-04-29 16:42] alysbrett opened #25 "Automate membership of mailing lists"
We have a private repository in this Github org with lists (TOML format) of people (Githubids, names, email addresses) who are part of SCRC and then lists of the membership of the individual projects and groupings within the coalition. We would like to use this as the source data to automate keeping the membership of various mailing lists up to date.

The mailing lists are managed by the Universit

[2020-04-29 18:04] eperim commented on #17
Using the current master I am still getting errors due to not having the `picante` R package. The solution was to manually install it from R. Shouldn't we have this as an automatic step during `build`?

[2020-04-29 18:35] eperim commented on #14
Should we consider JLSO as an alternative? https://github.com/invenia/JLSO.jl

The advantage is that it saves the environment, which can help with reproducibility. Apparently, the only drawback is that it cannot serialise files larger than a couple GB.

[2020-04-29 21:21] ianhinder opened #26 "Set up basic continuous integration with GitHub Actions"
GitHub Actions can be used to build the code and run the example input file to make sure it still works.  Eventually we can extend to a proper test system.

[2020-04-29 21:21] ianhinder opened #27 "Set up a regression test system"

[2020-04-29 21:22] ianhinder opened #28 "Check that results are the same when run multiple times"

[2020-04-29 21:25] ianhinder opened #29 "Add correctness tests based on simulated data"
These are the tests that Chris is going to run anyway.  We should make them scriptable and reproducible with nice output data files and plots.

[2020-04-29 21:28] ianhinder opened #30 "Check that results are consistent across different architectures and machines"
In particular, check that the RNG is portable.  The code seems to use rand.  The results of this are not portable; e.g. macOS' std C library has a different algorithm to glibc.  Possibly the C++ RNGs are more portable; I'm not sure.

[2020-04-29 21:29] ianhinder opened #31 "Add a makefile"
The code has no dependencies other than an optional MPI dependency.  Try hard to avoid autotools or cmake to keep things simple. But a makefile is essential.

[2020-04-29 21:30] ianhinder opened #32 "Fix "Error EC61" during Check"
This happens when I run it on macOS with clang.  Try with gcc and on Linux and see if it goes away.  Track down what the error means and see why it might be happening.

[2020-04-29 21:55] ianhinder opened #33 "Extract the txt-to-XML converter from the BICI GUI"
This is an essential piece of the pipeline for constructing the final input file for bici, but it's not in git.  It currently exists only in the GUI version of bici (http://www.mkodb.roslin.ed.ac.uk/EAT/BICI.html), which is a 300 MB download.  Chris says it is probably all within a single javascript file.  This is probably BICI.app/Contents/Resources/app.nw/js/simulate.js, probably

Extract this,

[2020-04-29 22:03] ianhinder opened #34 "Implement static code quality analysis"
This could be done in github actions and might find bugs that the compiler doesn't catch with warnings.

[2020-04-29 22:04] ianhinder opened #35 "Profile and optimise the regional model"
I would use oprofile for profiling.  Chris says he has spent a lot of time optimising the algorithm and the code, so we might not see any low-hanging fruit, but it should be done nonetheless.

[2020-04-29 22:06] ianhinder opened #36 "Ensure results are reproducible from the output files"
The output files should contain enough information to make them reproducible.  e.g. git hash of code used, sources and checksums of input data, etc.

[2020-04-29 22:14] ianhinder opened #37 "Develop new proposals more suitable for COVID in the regional model"
As new types of data are incorporated, new proposals need to be made.

[2020-04-29 22:15] ianhinder opened #38 "Develop new types of proposals for the household model"

[2020-04-29 22:17] ianhinder opened #39 "Parallelise the household model"
This is tricky as in principle, every individual communicates with any other individual in the population.  Chris has a strategy for parallelising this with an approximation that will retain the validity of the MCMC approach.

[2020-04-30 10:17] jholloc commented on #25
I've created a database schema: https://dbdiagram.io/d/5eaaa48f39d18f5553fe7920.

[2020-04-30 11:02] nathan-cummings-ukaea commented on #25
With that schema and the .toml files I'll try out setting up a database on my machine with mariaDB so it should be easy to get it established on the VM at STFC once that is up and running. Andrew has already gotten the ball rolling with that.

[2020-04-30 13:02] claireh93 opened #40 "Fix Phylo usage"
Update to new Phylo package requirements - this will help to fix other package constraints and errors, like Plots.

[2020-04-30 13:17] alysbrett commented on #25
Thanks Jonathan. I think a query getting the overall list of people and another getting the people assigned to the individual projects in the projects sub-folder would be a good start. The whole roles and skills thing might not be well-defined enough yet (I think there are a couple of concepts going on and not sure we've ironed out how we're hoping to use them). I think if you add a projects table

[2020-04-30 13:18] jwscook commented on #14
JLSO.jl looks good! I don't suppose output files will reach a GB, but please correct me @claireh93

[2020-04-30 15:04] johnnonweiler opened #41 "Clean up code - Step 2"
Following on from Step 1, consider:

- [x] Use enums (rather than string comparisons)
(E.g. In Household.java: line 97 onwards, cStatus should be an Enum. Should not be doing a string comparison with "Asymptomatic".  See also CommunalPlace.java and Population.java.)
- [x] In work places (e.g. Construction site, line 7), integer division, should be 10d/ (5000d/100d)
- [x] && should be used for bool

[2020-04-30 15:07] johnnonweiler opened #42 "Demonstrate Java MPI on DiRAC"
Get an account on DiRAC and demonstrate how to run multiple runs of the Java simulations in parallel.

[2020-04-30 15:11] johnnonweiler opened #43 "Add input file to setup all parameters"
Move all the hardcoded parameters into an input file (or two - consider separating out epidemiological parameters from run configuration/options).

There are already some classes for reading json input, taken from the Contact-Tracing-Model project, which already uses some input files in this way.

[2020-04-30 15:13] johnnonweiler opened #44 "Add automated test(s)"
Add an end-to-end test that checks something about the results.

(Could test an exact result, and then update the test whenever something about how random numbers are used changes, and/or it is probably more useful to have a test that checks results are within an expected range.)

[2020-04-30 15:20] johnnonweiler opened #45 "Add a gradle build"

[2020-04-30 15:22] johnnonweiler opened #46 "Remove GUI"
Make the FMD-Model work without a GUI, with initial setup/input parameters from a file.

[2020-04-30 15:24] johnnonweiler opened #47 "Change FMD to COVID-19"
- Move from individuals being livestock holdings to being individual humans.
- Update the epidemiological compartments to reflect COVID-19 – initially use a simple SEIR model.
- Take a network of contacts as input (Sibylle is generating some small world networks using R)
- Remove spatial spread: given that we planning to capture direct contacts between people, the spatial spread component is not n

[2020-04-30 15:26] johnnonweiler opened #48 "Investigate scalability"
Figure out how it will scale, and (if necessary) consider alternative approaches.

A major update might be needed to cope with much higher frequency contact data. Livestock movements would be up to just a few transactions over a 2 or 3 week incubation and infection period. With human contacts we are looking at a much, much higher frequency of contacts each with a low probability of transmission of

[2020-04-30 15:26] johnnonweiler opened #49 "Add automated test(s)"
Add an end-to-end test that checks something about the results.

(Could test an exact result, and then update the test whenever something about how random numbers are used changes, and/or it is probably more useful to have a test that checks results are within an expected range.)

[2020-04-30 15:28] johnnonweiler opened #50 "Tidy up random number generation"
So that we can get repeatable results, given a single seed.

[2020-04-30 15:30] johnnonweiler opened #51 "Profiling and simple optimizations"
Profile the model (running with reasonably sizeable inputs), and possibly make some easy changes (keeping the code simple) so that it runs efficiently.  (E.g. don't parse date strings in the inner loop.)

[2020-04-30 15:34] alysbrett commented on #25
Just a query to get the the overall list of people and email addresses for the full mailing list would be a good first step in fact. Should check if they can easily do diffs and update only changes at their end or if they are hoping to get lists of people to add and remove (in which case we'd need to store times of changes). Hope it's the first one!

[2020-04-30 15:34] johnnonweiler opened #52 "Version number and release process"
Add a version number, and a write a release process (including use of GitFlow branches, semantic version numbering, etc.).

[2020-04-30 15:35] johnnonweiler commented on #52
It might be nice to be able to run the program with --version, and to have the version logged in the output somewhere.  (I haven't put much thought into this issue yet.)

[2020-04-30 15:36] johnnonweiler opened #53 "Setup CI"

[2020-04-30 15:36] johnnonweiler opened #54 "Add unit tests"

[2020-04-30 15:36] johnnonweiler opened #55 "Review unit tests"
There are now multiple issues about adding unit tests, so I am renaming this from "add unit tests" to "Review unit tests", with a view to reviewing what's left to do after the other tests have been added.

Ideas of some things to include in checks (from Paul):

- Population size. Live + dead people should remain constant. However people are not necessarily constantly in their house, so this unit t

[2020-04-30 15:37] johnnonweiler opened #56 "Update transitions between compartments."
Currently the model assumes fixed time periods for incubation and infection, but we should ideally be using available information on distributions for these periods.

[2020-04-30 15:38] johnnonweiler opened #57 "Add additional stratification"
e.g. age classes

[2020-04-30 15:39] johnnonweiler opened #58 "Add spatial location"
Some form of spatial location for individuals may be helpful as we look toward combined control policies e.g. regionalisation coupled with contact tracing.  (This will probably look different to the spatial location that existed in the original FMD-Model.)

[2020-04-30 15:41] johnnonweiler opened #59 "More epidemiological compartments"
The plan is to initially use a simple SEIR model, but we likely need Susceptible, Incubating (possibly multiple incubating stages), Symptomatic Infecteds, Asymptomtic Infecteds, Hospitalised (with possible breaks downs into critical and non-critical care). Not all of these will be critical to the contact tracing but may be needed in order to validate the model against case and deaths data.

[2020-04-30 16:49] claireh93 commented on #14
Saving a Scotland-sized EpiSystem at the moment is about 160Mb - although I suppose this will grow with more categories like ages.

[2020-04-30 17:26] sdl1 commented on #13
Hello, a couple of questions on this:
- Is it only the `abundances` field that we want to compare, or should any others be included?
- What kind of norm(s) would be appropriate for comparing two systems for this purpose? E.g. L1 (=sum of absolute differences of each class in each grid square), etc.

thanks!

[2020-04-30 18:09] alysbrett opened #60 "Establish licencing and contribution terms for all the projects"
I notice that not all the repos have licence files yet and I understand that the RAMPrequirement that they are open source. We should also have contribution guidelines/agreements that cover IP issues.

@richardreeve says: I'd also quite like to limit the numbers of licenses to maybe GPL 3+ or 2-clause BSD (perhaps) just to reduce confusion, and possibly ask people to agree to submit contributions

[2020-04-30 18:42] eperim commented on #17
Yeah, I also had to install both R and MPI. I am not sure if it's advised against to have something outside of the Julia environment installed when we run build. Is there any option to have an internal R and MPI installation, similar to how Conda.jl has its own internal Python installation?

[2020-04-30 19:51] eperim commented on #13
Would simply using AutoHashEquals (https://github.com/andrewcooke/AutoHashEquals.jl) do the trick here?

[2020-04-30 22:07] richardreeve opened #61 "Fix permissions for organisation and repositories"
Given github is the central source of guids for the project, and the organisation is the authentication mechanism for Zulip, a lot of people with no experience of github will be members. The current system may therefore give people too much control over other people's repos and too little control over their own.

We could have teams for each of the 6 modelling repos, and an admin / lead RSE team t

[2020-04-30 22:32] richardreeve opened #62 "Delete NDCode and BTV-model"
Delete the two forks - NDCode and BTV-model - from SCRC organisation to reduce confusion. @paulbessell, is it okay to delete them?

[2020-04-30 23:06] richardreeve commented on #17
According the the RCall.jl [docs](http://juliainterop.github.io/RCall.jl/stable/installation.html), _"RCall.jl will automatically install R for you using Conda if it doesn't detect that you have R 3.4.0 or later installed already."_

Conversely, according to the MPI.jl [docs](https://juliaparallel.github.io/MPI.jl/stable/installation/), _"MPI.jl requires a shared library MPI installation for C (su

[2020-05-01 00:18] richardreeve opened #63 "Populate mailing list database from personnel data"
We need to automatically populate the mailing lists for the different projects from the [personnel](https://github.com/ScottishCovidResponse/personnel) repository toml files.
- names and email addresses are in [people.toml](https://github.com/ScottishCovidResponse/personnel/blob/master/people.toml)
- projects are the toml files in the [projects](https://github.com/ScottishCovidResponse/personnel/t

[2020-05-01 07:24] paulbessell commented on #62
Help yourself

On Thu, 30 Apr 2020 at 23:33, Richard Reeve <notifications@github.com>
wrote:

[2020-05-01 08:06] jwscook opened #64 "Travis failure Pull Requests > Build #60 > Job #60.1 ￼"
[code]

Could be due to `OnlineStatsbase@1.3.0` and not `@1.2.0` - testing in isolation to check.

[2020-05-01 08:13] jwscook commented on #64
This was noticed in PRing #24

[2020-05-01 08:17] jwscook commented on #64
Errors recreated in isolation with `OnlineStatsbase@1.3.0`.

[2020-05-01 08:59] jwscook commented on #64
With `OnlineStatsBase@1.2.0` I now get this error:

[code]

[2020-05-01 09:05] alysbrett commented on #63
This is a duplicate of #25 where there is some progress...

[2020-05-01 09:05] #63 closed

[2020-05-01 09:09] alysbrett commented on #62
Just alerting @johnnonweiler so he is aware

[2020-05-01 09:37] jwscook commented on #64
Tests fail at https://github.com/ScottishCovidResponse/Simulation.jl/blob/e52b80a1aee82dfab60dd4b74616d5e5461a26a1/test/test_EpiGenerate.jl#L15 - commenting it out lets the others all pass

[2020-05-01 09:38] jwscook opened #65 "Fix humanmove!"
See #64

[2020-05-01 10:06] wytbella commented on #7
Can I request some clarifications on this issue?

- It's my first time writing a pkg benchmark. I plan to use [PkgBenchmark.jl](https://github.com/JuliaCI/PkgBenchmark.jl) and follow some examples [like this one](https://github.com/tkf/Transducers.jl/tree/master/benchmark). Is that ok? Do you have other suggestions?

- Could you list down some functions you want to have benchmark on in terms of pr

[2020-05-01 10:15] jwscook commented on #64
Fixed from https://github.com/ScottishCovidResponse/Simulation.jl/pull/9

[2020-05-01 10:15] #64 closed

[2020-05-01 10:16] alysbrett commented on #61
Richard and I have set the base permissions for the org to none and are adding back what's needed. Most projects had teams already but I created one for simple network simulation and am now making sure they have the right members and write permission on the relevant repo.

[2020-05-01 10:22] jwscook commented on #7
It would be good to point PkgBenchmark at the files in examples/Epidemiology on `dev`. I should mention that the title and description were too terse; we should be benchmarking, identifying bottlenecks and either fixing performance bugs or identifying changes to architecture to enable speed up.

@wytbella can you keep an eye on #12 too? The outcome of that will be the one we want to go fastest.

@

[2020-05-01 10:32] johnnonweiler commented on #48
The first step is to investigate how the network generation in R will scale.

[2020-05-01 10:36] johnnonweiler commented on #57
Age classes now exist, but are not yet being used for anything.

[2020-05-01 10:36] alysbrett commented on #62
Done

[2020-05-01 10:36] #62 closed

[2020-05-01 10:37] johnnonweiler commented on #58
People might belong to different regions.  There might be a zoning arangement after lockdown, with different rules for people in different places.

[2020-05-01 10:46] sdl1 commented on #13
Yeah that may work for exact comparison, but probably not for approximate comparisons?

[2020-05-01 10:56] wytbella commented on #7
Benchmark all the files in [examples/Epidemiology](https://github.com/ScottishCovidResponse/Simulation.jl/tree/dev/examples/Epidemiology). Should I build my branch from `dev` or just merge to `dev`?

The example files call `simulate_record!`. I suppose there is something inside that function you want to benchmark as well to spot out the bottleneck?

Do you mean to add benchmark to cover those cano

[2020-05-01 10:59] alysbrett commented on #61
OK - there is now a team for every project and those teams have write access to the repo. I could do with confirming the situation with the Java projects is correct as we have 2 teams and 4 repos and the names don't match up exactly. Could @johnnonweiler let me know please?

[2020-05-01 11:02] alysbrett commented on #25
Confirmation that we want a mailing list per file in the projects sub-folder and one overall with everyone. I may have broken any automated access to the files as we have just been sorting out permissions for all the Github repos, ie removing global permissions and adding specific ones back as needed. I gave the people  on this issue read access to personnel but not sure what you will need for the

[2020-05-01 11:04] alysbrett commented on #25
(not sure why it says I unassigned @alahiff when I added that comment...)

[2020-05-01 11:07] johnnonweiler commented on #52
Sam is going to add something about this in the build guidelines he is preparing.

[2020-05-01 11:08] claireh93 opened #66 "Remove RCall dependency"
Only one test relies on RCall for entire package - we can remove this for now.

[2020-05-01 12:43] jwscook commented on #7
Just cover the whole script at the moment. This work should show which functions warrant further investigation.

[2020-05-01 12:48] johnnonweiler opened #67 "SEIR ODE model for comparison"
Make a simple Java ODE model to generate data for comparison with the results from the contact tracing model.

[2020-05-01 12:48] jwscook commented on #13
The primary use case is for regression testing since there isn't a full test suite. We need to know that the code under development is only changing the output to a few epsilon hence the suggestion of `isapprox`. When the code is "working" we can add `L1`, `L2`, and `LInf` norms for comparing outputs for research purposes.

[2020-05-01 12:50] #45 closed

[2020-05-01 12:50] #46 closed

[2020-05-01 12:50] #47 closed

[2020-05-01 12:50] #51 closed

[2020-05-01 12:54] claireh93 commented on #66
@jwscook @AlexRobson RCall has now been removed from the package to streamline things - perhaps the travis stuff could be amended on this same branch?

[2020-05-01 13:05] johnnonweiler commented on #61
@alysbrett It looks like you've figured it out.  Contact-Tracing-Model has replaced the FMD-Model, and Covid_Simulation_Model has replaced the ND-Model.

DiscreteSpatialPhyloSimulator should be deleted (it contains only commits which exist in hxnx-sam/DiscreteSpatialPhyloSimulator, where it was forked from).

FMD-Model-1 is no longer being used, but it has some new commits which we should copy els

[2020-05-01 13:05] jwscook commented on #65
Done in https://github.com/ScottishCovidResponse/Simulation.jl/pull/9

[2020-05-01 13:05] #65 closed

[2020-05-01 13:06] jwscook commented on #24
Done for the now

[2020-05-01 13:08] ianhinder opened #68 "Create Output directory if it doesn't exist"
BICI currently silently discards all the output if the Output directory doesn't exist.  Check why the error is not caught, and create the directory if it doesn't exist.

[2020-05-01 13:08] claireh93 commented on #40
Done in ScottishCovidResponse/Simulation.jl#10

[2020-05-01 13:08] #40 closed

[2020-05-01 13:09] jwscook commented on #66
@claireh93 I'll do that.

[2020-05-01 13:12] jwscook commented on #66
PR when ready - travis "should" work

[2020-05-01 13:14] claireh93 commented on #22
Done in ScottishCovidResponse/Simulation.jl#11

[2020-05-01 13:14] #22 closed

[2020-05-01 13:33] ianhinder opened #69 "Submit regional model runs to GridPP"

[2020-05-01 13:35] ianhinder opened #70 "Ensure that input file can be constructed using code available in the repository"
This is related to #33 but includes all the other stages as well.

[2020-05-01 13:36] alysbrett commented on #61
Thanks. I have deleted DiscreteSpatialPhyloSimulator.

[2020-05-01 13:39] ianhinder commented on #33
Chris says:

[2020-05-01 13:42] ianhinder commented on #32
Chris says he thinks he knows what the problem was and has fixed it in his copy of the code.

[2020-05-01 13:45] alysbrett opened #71 "Identify projects and tasks that could benefit from additional people"
Add the "Find someone" label to issues where finding an additional person (not yet on the project) to help would make sense. This can be existing issues in the projects or create one for the purpose of requesting an additional person on a team and describe the skills needed.

I will review these in an effort to match people to projects at the right time

[2020-05-01 13:51] johnnonweiler commented on #61
@alysbrett FMD-Model-1 can now also be deleted.

[2020-05-01 14:43] claireh93 commented on #23
This should only need MPI now following ScottishCovidResponse/Simulation.jl#12

[2020-05-01 15:05] jholloc commented on #25
@alysbrett we will need to access the personnel repo from the STFC VM, any thoughts? I can add the VM's SSH key to my account for now.

[2020-05-01 15:15] alahiff commented on #25
@jholloc Can you create a token in GitHub which you can use on the VM to access the repo? I haven't actually used tokens in GitHub before but it may be possible to do things like this...

[2020-05-01 15:24] alysbrett commented on #25
I can add a deploy key (https://developer.github.com/v3/guides/managing-deploy-keys/#deploy-keys) in that repo if you like?

I just need a name for it and the public SSH key

[2020-05-01 15:28] jholloc commented on #25
Server public key:

`ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDMyKnJkyrCTZ/rCnyvWVr/yYtlqs2NsLUpX3Ybcfb6jogi1igfadzSutB/QnSrfaPhovBzyr+gFFPZ0S5QJCA3CuWY/ktFVxDg1JNwuoJi/7kje+MD4/qXrC+FfdEYbXa5YLlZ4lFXP6vDRIi21opX5C9Yre2IHG3eQIAr6nZgy+8HYNuI3NdVhjAVul9YkMAs8RQYm1KR6FJ1fCcPLL6s+ekmEtO2pUUiQ3ohiO8wyfAGLy6TavjXStQmg7OpcxjeqF6/Ww/pUzd4xo8jkGDTAIodjbam8SRV19ncWQJb7Sg0iSjsnVRiWOOC+s2DId8D0A6SQlPk9XHnXxPeUxK

[2020-05-01 15:29] alysbrett commented on #61
I'm going to call this done but obviously let me know if you run into any further permission issues. You can use There is an scrc-admin  team (Richard and me!) that you can '@'

[2020-05-01 15:45] alysbrett commented on #25
Deploy key added.

[2020-05-01 15:48] jholloc commented on #25
Thanks, that works.

[2020-05-01 16:18] eperim commented on #13
I am not sure how autohashequals works under the hood, but I think it works with floats as well. IIRC that work for the SyntheticGrids.jl package at least: https://github.com/invenia/SyntheticGrids.jl/blob/master/src/grid.jl#L1
https://github.com/invenia/SyntheticGrids.jl/blob/master/test/runtests.jl#L107
(ages I don't touch that package, so I might be missing something)

[2020-05-01 16:20] eperim commented on #14
Can we close this since https://github.com/ScottishCovidResponse/Simulation.jl/pull/13 has been merged?

[2020-05-01 16:50] claireh93 commented on #66
Done with ScottishCovidResponse/Simulation.jl#12

[2020-05-01 16:50] #66 closed

[2020-05-01 16:57] jwscook commented on #23
In a brand new container Julia downloads loads of stuff:

[code]

I'll try to get all this in the container too to shave off the wait time.

[2020-05-01 17:00] nathan-cummings-ukaea commented on #25
`SELECT u.email FROM user AS u, user_projects AS up, project AS p WHERE up.user_id = u.id AND up.project_id = p.id AND p.name = 'BICI';`

^ gives all email addresses assigned to project BICI

I'm setting up a cronjob to update the database which will run at 9pm daily.

[2020-05-01 17:11] sdl1 commented on #13
Yeah it should work with any type, but AFAIK it can only check for strict equality, whereas we want to consider approximate equality (i.e. are two systems "close enough")

It could be good to add it anyway, for full equality checks of the whole struct. I had a quick try but realised it would need to be added to a bunch of structs all over the codebase to work properly, since (I think) you need to

[2020-05-01 17:12] alysbrett opened #72 "Django front end for an SQL database (data/info management)"
@IainM-BioSS said that it would be useful to have some input from a web developer on his data management work area to make a basic web front end for an SQL database that will be used for meta-data, catalogueing and linking etc (I think). Django was mentioned as what's needed but I'm not sure if that's a definite requirement. This is a placeholder issue to register the need for this task and we can

[2020-05-01 17:21] ianhinder opened #73 "Replace "\n" with std::endl in all logging output"
Logging output is using an explicit "\n" to end the line.  This leaves the output buffered.  This should be changed to std::endl, because that includes automatic line buffering.  Currently, when the output is directed to a file, it only updates once the buffer is full, which is annoying, as you think it has hung.  There are explicit calls to "flush" in bici.cc which are presumably designed to get

[2020-05-01 17:37] alysbrett commented on #25
Great! Maybe time to loop in the people at Glasgow on the mailing list end - @richardreeve should be able to put them in touch next week

[2020-05-01 18:07] ianhinder commented on #26
Implemented and merged in https://github.com/ScottishCovidResponse/CoronaBICI/commit/3e22addf4139bcbf6a694355335f12a7b8c6b9f4.

[2020-05-01 18:07] #26 closed

[2020-05-01 18:14] ianhinder commented on #28
This appears to be the case, apart from the built-in profiling output.

[2020-05-01 18:14] #28 closed

[2020-05-01 18:14] eperim commented on #13
I linked the synthetic grids example because it includes fields with floats, so at least that it can compare fine. But I guess if you want custom `rtol` and `atol` it indeed won't work.

[2020-05-02 12:37] richardreeve commented on #25
Yes, I'll do that now while I see this. Sorry I've been a bit hopeless responding - I've only just seen this through the millions of notifications I'm getting from all of the incoming issues.

[2020-05-02 12:46] nathan-cummings-ukaea commented on #25
Port 3306 on 130.246.213.193 is open for their IP, the database has user called 'readonly' with password 'readonly'. I need to change a couple of permissions settings before they'll be able access the database but I'll probably have that sorted this afternoon.

That should be all the info needed. Let me know if I've missed anything.

[2020-05-02 14:19] richardreeve commented on #25
Brilliant. I'm just waiting on confirmation of the list names from the list owners, but apart from that I've got the email ready to go on Monday morning.

In the meanwhile I've updated the personnel projects folder with some updated names and some new projects (sorry for that), and this is what I was planning on sending Mark:

I can adjust that to give the exact SQL statements, but I just wanted t

[2020-05-02 14:39] richardreeve commented on #30
I had to updste `Distributions.jl` a while ago so that all distributions could handle a first argument RNG to make it thread safe. So we should be using that everywhere, such as [here](https://github.com/ScottishCovidResponse/Simulation.jl/blob/53af463076103a4922665eb0363a55455beebff4/src/Epidemiology/EpiGenerate.jl#L76), and we set up RNGs [here](https://github.com/ScottishCovidResponse/Simulatio

[2020-05-02 14:50] richardreeve commented on #5
Once I get in touch with NAG in #19, we may have some specific issues that may need attention in the dev branch, and we can write benchmarks for.

[2020-05-02 16:06] nathan-cummings-ukaea commented on #25
1. `SELECT user.full_name FROM user;` will give the full name of everyone.
    `SELECT user.email FROM user;` will give their email addresses.

2. It is indeed. Since some of the project names have now changed I refreshed the db so it doesn't have the projects duplicated - to avoid confusion. If project names are likely to change further let me know, I'll need to make the script that updates the d

[2020-05-02 16:37] jholloc commented on #25
@nathan-cummings-ukaea I'd be tempted to just delete everything in the database before the update script is run... it's only going to be run once a day and for a few dozen users.

[2020-05-02 16:42] nathan-cummings-ukaea commented on #25
I will do if it becomes an issue. For now it's all set up, the cronjob is done so all being well everything should work for Mark. Let me know if anything goes wrong.

[2020-05-02 17:24] richardreeve commented on #25
Thanks. Management does need a list, so I've given it a name entry - "Management" - to (hopefully) simplify things and generally reformatted it to the same as the other projects. Can you add it back in, please? For now, we'll hope not to change the project names.

We may well need to add in more projects though... can you just read anything in the folder? Or is that what you do in fact?

And we'll

[2020-05-02 17:51] nathan-cummings-ukaea commented on #25
Yep, I’ll re-add management either later today or tomorrow (before Monday for sure).

Yep, new projects should be picked up automatically, it does indeed iterate through the folder.

The shell script that the cron job runs is literally just the git pull then run the python script that Jonathan wrote. That, along with the schema could certainly be uploaded if you wish.

[2020-05-02 18:36] richardreeve commented on #25
Yes, sorry - I meant the python script. Thanks.

[2020-05-03 12:24] nathan-cummings-ukaea commented on #25
Hi @richardreeve, re-including management.toml is throwing an Exception right now as there are people in there that aren't in 'people.toml'. Once they are added let me know and I can make sure the 'management' project gets generated. Alternatively I could ignore people in 'management.toml' that aren't in 'people.toml' but that may lead to someone being missed off a mailing list.

[2020-05-03 13:35] richardreeve commented on #25
That should be fixed now - I just didn't update someone's github username there when they gave it to me. In general I think it would be good to ignore those errors anywhere in building the mailing lists, so they do get mostly updated even if usernames are missing.

However, is there's any way of messaging one of us to tell us there's a problem so we can fix it?

If there's no easy way for the serv

[2020-05-03 14:01] nathan-cummings-ukaea commented on #25
Cheers, the db has a management project now - looks good.

The CI approach would be more robust, and would be the best adherence to 'failing early' I guess. In the mean time the logs for the cron job will at least let us know if the update failed the night before.

Would you like the python and mysql script in the personnel repo or elsewhere?

[2020-05-03 14:17] richardreeve commented on #25
Yes, good point. I’ll add an issue to remind me. And can you put the code somewhere in the personnel repo I think, so it’s all together.

[2020-05-03 14:25] richardreeve opened #74 "Add in CI to check personnel database is internally consistent"
#25 is dealing with creating a database to update our mailing lists, but it requires that the data in the https://github.com/ScottishCovidResponse/personnel repo is internally consistent.

In the first instance, the critical thing is to check that each file in the `projects/` subdirectory has a `name = "XXX"` element and `[people]` hash, and each `[people.YYY]` element of the hash corresponds to a

[2020-05-03 16:14] richardreeve opened #75 "Redirect scrc.uk to our website"
We currently own the scrc.uk domain, but we are only using it for Zulip - at https://zulip.scrc.uk. We also have a placeholder website at https://www.gla.ac.uk/scrc which is not linked to anything. We need to redirect https://scrc.uk and https://www.scrc.uk to https://www.gla.ac.uk/scrc while we work out how things should actually be set up, and then link this organisation to that site.

[2020-05-04 07:17] johnnonweiler commented on #67
The model is here: https://github.com/ScottishCovidResponse/SEIR-Model

[2020-05-04 07:17] #67 closed

[2020-05-04 07:18] #50 closed

[2020-05-04 08:43] peter-t-fox opened #76 "Add CMake support"
Code was initially built manually by compiling a single source file and manually linking against its dependencies.

- [x] Add CMake support for the build
- [x] Reorganise the source into separate src, test directories
- [x] Add example GTest build as a starting point for further test development

[2020-05-04 08:43] #76 closed

[2020-05-04 09:08] peter-t-fox opened #77 "Add license and contribution files"
Add files detailing:

- [x] Workflow for contributions

- [x] Licensing terms for the software and statement on IP (see also #60)

[2020-05-04 09:12] peter-t-fox opened #78 "Set up CI"
Enable CI in the repository:

- [x] Add a .github/actions/yml file (the one in the CoronaBICI repo is a good starting point)
- [x] Enable running of the code as a basic end to end test (need to establish a suitable set of parameters)
- [x] Enable automated running of the unit tests

Regarding the end to end test, the default set of parameters results in a run time which is far too long to include

[2020-05-04 11:28] AlexRobson commented on #16
This should have closed with !5

[2020-05-04 11:28] #16 closed

[2020-05-04 11:34] nathan-cummings-ukaea commented on #25
Could I have permission to push to the personnel repo so I can add the db scripts?

[2020-05-04 12:12] alysbrett commented on #25
You should be able to write to it now @nathan-cummings-ukaea

[2020-05-04 12:57] sdl1 opened #79 "Small improvements to readfile functions"
- Informative error if specified file(s) don't exist
- Reduce duplicated code, e.g. call `readfile(file::String, xmin, xmax, ymin, ymax)` from within `readfile(file::String)`

[2020-05-04 12:58] claireh93 opened #80 "Advanced testing comparison to deterministic ODEs"
Discussion with @jcprentice about incorporating his deterministic SEIR models for comparison in testing (and later stochastic versions).

[2020-05-04 13:00] claireh93 opened #81 "Force of infection"
Split virus into two distinct categories: Force of infection (airborne and instantaneous) and environmental reservoir (Contact and decays over time).

[2020-05-04 13:02] claireh93 opened #82 "Incorporate risk factors"
Add new dimensionality into disease categories - initially age, but ideally can be expanded to flexibly include other risk factors like gender or job type.

[2020-05-04 13:06] claireh93 opened #83 "Incorporate formulae into risk factors"
Following on from #82, try to include information about different risk factor categories in the set up of the `EpiSystem` as formulae, for which a design matrix is created.

[2020-05-04 13:16] jwscook commented on #24
It should state that contributions are under 2-clause BSD. (LICENCE is staying as it is for now)

[2020-05-04 14:19] alysbrett opened #84 "Make "model reconstruction" a project"
Make a Github project for the model reconstruction work.

- [x] file in personnel repo

- [x] Github Team

- [x] Issue tracker label & initial issue

- [x] permissions, naming etc for forked repos

[2020-05-04 14:30] #78 closed

[2020-05-04 14:33] peter-t-fox commented on #20
Further investigation suggests that this goal isn't really achievable in its current form. Because the output of a code run is non-deterministic (due to the use of random distributions for sampling), it's not possible to compare the output to a known fixed good data set. Instead, progress on this will probably have to be made by isolating deterministic components of the code and writing tests for

[2020-05-04 14:33] #20 closed

[2020-05-04 14:34] peter-t-fox commented on #21
Issue is too broad. Closing it in favour of more specific tasks.

[2020-05-04 14:34] #21 closed

[2020-05-04 14:38] claireh93 opened #85 "Write outputs as a raster"
Also need functionality to convert and write outputs to a raster for input into GIS. First pass at GIS visualisation being discussed currently.

[2020-05-04 14:43] #7 closed

[2020-05-04 14:44] claireh93 commented on #85
Currently storing outputs in a 3D array (disease class X grid cell X time), e.g.
https://github.com/ScottishCovidResponse/Simulation.jl/blob/dev/examples/Epidemiology/SEI2HRD_example.jl lines 74-76

[2020-05-04 14:45] claireh93 commented on #85
We had discussion about storing a raster with several layers (of disease classes, SIR etc) per timepoint. This may become unwieldy if the output raster files are too large, so other approaches may need to be considered.

[2020-05-04 15:29] peter-t-fox opened #86 "Split main module into smaller modules"
The main.cpp file comprises all of the code for the the project. It can be straightforwardly split out into at least the following components:

- [x] Reading of input parameters from configuration files
- [x] Reading of observational data from CSV files
- [x] Utility functions performing basic mathematical operations on arrays
- [x] Functions associated with the fitting process
- [x] Functions ass

[2020-05-04 15:44] jwscook commented on #23
Docker won't be of any use for the macos builds and there may be a better way speeding up travis by using `cache`.

This is as far as I got. It worked well. julia would go straight to testing because everything was already built and installed.

[code]

[2020-05-04 15:44] #23 closed

[2020-05-04 15:47] jwscook opened #87 "Cache MPI build in .travis.yml"
Supersedes #23

This post explains how to https://www.aithercfd.com/2016/12/03/using-travisci.html cache things for the next run. This will help things go faster without leaning on a docker image.

[code]

It would be good to add an `after_script` like this yml psudocode:

[code]

so that Simulation doesn't get cached for next time and we definitely get a clean copy.

[2020-05-04 16:07] SimonAB opened #88 "Master is broken"
Master doesn't compile (problems with OnlineStats). However, dev worked fine after adding PlotlyJS and ORCA to Project.toml.

[2020-05-04 17:15] alysbrett opened #89 "Start work on "model reconstruction" for two established external models"
This is an initial issue to kick off the "model reconstruction" project within SCRC. The idea is to fork two existing models into our Github organisation with a view to being able to run them and understand their inputs and outputs to compare to our own. Initial input from RSE(s) is needed to fork and try running the models and understand how to handle data etc, and from epidemiologist(s) to exami

[2020-05-04 17:16] richardreeve opened #90 "Ignore - testing automation"
Ignore

[2020-05-04 17:17] #90 closed

[2020-05-04 17:44] alysbrett commented on #89
I have added @kzscisoft (Kristian) to this issue who started in our UKAEA RSE group today! His C++ skills and previous experience of working in particle large scientific collaborations and using DiRAC is likely to be useful. I also added @richardreeve as this is his idea and I think he intends to arrange for one or more epidemiologists to contribute to this work.

[2020-05-04 19:10] richardreeve commented on #89
Yes, thanks, and welcome @kzscisoft! @LouiseMatthews is in charge of epidemiologists, so she will work this out officially, but I'm very happy to try to help anyway. In the meanwhile, we can clone the two repositories and make a team, and at least one label and project. I'll discuss it in the progress meeting tomorrow (Tues @ 3pm), so hopefully we'll pick up helpers there...

[2020-05-04 19:30] richardreeve commented on #89
I've forked the two repositories because I'm not sure who has permissions to create new repos, and I've given the `Model-reconstruction` team admin rights over them. However, I noticed while doing so that https://github.com/mrc-ide/covid-sim is under heavy development. I think it's mostly to fix minor bugs and aesthetic issues from what I can see, but it may be worth starting with https://github.c

[2020-05-04 19:44] johnnonweiler commented on #53
I'm expecting we'll probably use GitHub Actions, as suggested by Ian Hinder in a Zulip chat.  Also in Zulip, William Pettersson suggested he might be able to take on issues like this one.

[2020-05-05 07:47] kzscisoft commented on #89
Thanks for the welcome @richardreeve. After I have finished setting up my machine today I will fork the repositories myself too and see if I can get anything running as a preliminary trial keeping an eye on any environments I am using and perhaps trying to build within a container too so it can be reproduced.

[2020-05-05 07:50] johnnonweiler commented on #54
For an example of Sam's preferred style, see the SEIR-Model project.

[2020-05-05 08:13] peter-t-fox opened #91 "Simulation continues looping even when max number of accepted particles reached"
The core simulation loop:
[code]
keeps going even if the `aborting` flag is true: it just doesn't execute any of the logic inside the conditional. It doesn't dramatically slow the code down, but should be fixed. A break statement would do it, in a pinch.

[2020-05-05 08:29] peter-t-fox opened #92 "Refactor main code to allow a fixed randomiser seed to be passed in"
The random number generator used to drive the model is seeded by the current time within the `main()` function:
[code]

By moving most of the code currently in `main()` to a callable function, it would be possible to pass in a random number generator with a fixed seed, making the output deterministic. This would enable generation of a range of test cases with different seeds, which could then be u

[2020-05-05 08:41] peter-t-fox opened #93 "Build a test suite of model outputs based on different seeds and input parameters"
Test suite should consist of a number of data sets comprising:

* An input `parameters.ini` file
* A random number generator with fixed seed
* An output data set generated from known "good" code (in practice, the original code - the goal is to detect changes more than to verify correctness)

These test suites can be run in the CI and will detect any changes in code that alter the outputs: this wil

[2020-05-05 10:42] kzscisoft commented on #89
So I have started with the `covid-uk` repository which is written in R (I have not used the language before but I do not think that will be an issue). Couple of points when it comes to getting started, firstly the main script refers to a `Dropbox` location for the data when it should refer to the repository folder itself, secondly various R packages need to be installed. I think I will go ahead wi

[2020-05-05 10:48] peter-t-fox opened #94 "Save log outputs as part of model run"
The code writes a number of log messages to `stdout` as part of its execution, which are not presently saved. These include information about the performance of the run, and also act as confirmation of which input parameters were used.

These messages should be saved, either via file redirection or by using a logging library, and the output saved as one of the outputs from the run.

[2020-05-05 11:19] AlexRobson commented on #85
Can more detail to be added to this? I'm looking through the Starter issues, but I can't interpret what this one needs in order to pick it up - thanks

[2020-05-05 11:41] richardreeve commented on #83
Just my first thought about what we're thinking about... how do we represent demographic, socioeconomic and disease factors in our models? Perhaps saying things like:

[code]

to generate the appropriate number of classes of people to put into the model in a suitable way (via a design matrix or something?).

[2020-05-05 11:42] richardreeve commented on #19
I wrote to NAG to kick this off a few days ago.

[2020-05-05 12:06] claireh93 commented on #85
Sure! We are hoping to generate some maps of disease spread over time and need to import the simulated output data into ArcGIS somehow. As a first pass, saving raster files (e.g. GeoTIFF format) would work. In order to do this we would need to convert from the arrays I described above into a raster format, possibly using GDAL or ArchGDAL - the GeoArrays package might also be helpful.

[2020-05-05 12:11] #92 closed

[2020-05-05 12:15] #86 closed

[2020-05-05 12:36] sdl1 commented on #13
Can this issue be closed after https://github.com/ScottishCovidResponse/Simulation.jl/pull/14 or is any other functionality needed?

[2020-05-05 13:09] claireh93 commented on #12
Closed for now with ScottishCovidResponse/Simulation.jl#19.

[2020-05-05 13:09] #12 closed

[2020-05-05 14:43] jwscook commented on #87
This is kicking my bottom

[2020-05-05 15:11] cpfiffer commented on #83
Do you actually want to estimate a linear model or do you just want the response/variable matrix?

If you just want the matrices, [StatsModels.jl](https://github.com/JuliaStats/StatsModels.jl) package handles this pretty well, similar to how it works in R.

[code]

If you want to estimate a linear model, this is much easier with [GLM.jl](https://github.com/JuliaStats/GLM.jl):

[code]
Result of `re

[2020-05-05 15:16] bobturneruk opened #95 "Change license to 2-Clause BSD"

[2020-05-05 15:17] bobturneruk opened #96 "Expand readme"
suggested headings

- Introduction
*Motivation, why is this here.*
- Features
*What does the software do? How does it compare with other similar software? May want to refer to a seperate concept of operations document.*
- Usage
*How do I use the software (in the simplest cases)? This should eventually refer to more in depth docs.*
- Installation
*How do I install the software? What are the system

[2020-05-05 15:24] bobturneruk opened #97 "Document model implementation"
Evolve doc "Model 6 Overview - State-based Network Model" into a doc that links science to software architecture

[2020-05-05 15:25] alahiff commented on #75
I just came across this issue. For the moment I've setup the following redirects:
* http://scrc.uk --> https://www.gla.ac.uk/scrc
* http://www.scrc.uk --> https://www.gla.ac.uk/scrc

https://scrc.uk and https://www.scrc.uk give SSL warnings in most browsers - the redirects are provided (for free) by the domain name registrar and they don't have certificates for scrc.uk & www.scrc.uk.

As Alys ment

[2020-05-05 15:51] kzscisoft commented on #89
@richardreeve I was wondering, should there be a chat stream for Model Reconstruction on Zulip or does this fall under the `existing-models` category? Thanks!

[2020-05-05 18:00] peter-t-fox opened #98 "Eliminate compiler warnings"
Building the code with g++ flag `-Wall` produces a small number of warnings, mostly related to comparisons between signed and unsigned integers.

Update: these warning are not present using Clang with the `-Wall` option. See also issue #119

[2020-05-05 18:57] jwscook commented on #87
The linux build used to take ~240 seconds to install MPI, but now only takes 0.33 s to drag it out of cache.

[2020-05-05 19:01] ianhinder opened #99 "Experiment with DMTCP on CSD3"
BICI does not have built-in checkpointing.  On CSD3, the walltime limit for a job in the normal partition is 1.5 days.  The documentation, https://docs.hpc.cam.ac.uk/hpc/user-guide/long.html, says that DMTCP is available, and provides examples.  Try it out, and see if we can use it to spread a BICI run over multiple jobs.  Start with serial, then go on to MPI.

[2020-05-05 20:22] johnnonweiler opened #100 "Clean up - First steps"
Restructure the code – put things in separate packages.

Add gradle, logging, random-number-generation, input and output, and README files from Contact-Tracing-Model project.

[2020-05-05 20:26] ianhinder opened #101 "Set up a fast-running test case"
The current test case takes about 15 minutes to run.  We should have a test which runs in seconds instead.  Chris has offered to provide one.

[2020-05-05 20:41] johnnonweiler commented on #44
@paulbessell is putting some thought into how to do this.

[2020-05-05 20:45] johnnonweiler commented on #43
I think @sam-brett may be doing this at the same time as the "cleanup first steps".

[2020-05-05 20:47] johnnonweiler opened #102 "Review speed issues"
Consider running a profiler, and check if there are any simple ways that the code can be made significantly faster (e.g. by replacing a list with a dictionary).

[2020-05-05 20:50] johnnonweiler opened #103 "Rewrite populateHouseholds method"
Clarify desired behaviour with @paulbessell, write a unit test, then rewrite Population.populateHouseholds() .

[2020-05-05 20:50] eperim commented on #15
Can this be closed in light of https://github.com/ScottishCovidResponse/Simulation.jl/pull/17 ?

[2020-05-05 20:52] alysbrett commented on #75
Thanks @alahiff.

What's the remaining action needed on this issue now - editing that web page to link to this Github org? Not sure who the person who can do that is @richardreeve...

[2020-05-05 20:53] johnnonweiler opened #104 "Review documentation"
Review existing documentation (including comments), and make it easy for new people to contribute to the project.  Consider using Javadoc comments.

[2020-05-05 21:22] alysbrett commented on #61
@ianhinder and I have encountered an issue that may be related to our changing base permissions for the org to none. We think it means you can't assign an issue to someone not in any team since they need to be an org member with read permission on the issue tracking repo and that needs to be explicit read permission not just ability to read because it's public.

I think @richardreeve suggested tha

[2020-05-05 21:29] alysbrett commented on #25
From email exchanges today I think this can be closed once @nathan-cummings-ukaea confirms he has put the relevant scripts in the repo etc and we see that new people added this evening have shown up correctly. When you have finished this work and could look at the next thing Nathan, there is the related matter of #74 if you are familiar with (or willing to experiment with) Github CI.

[2020-05-06 06:23] bobturneruk opened #105 "Check .gitignore is OK (e.g. ignore .pyc files, source data, output .pdfs?)"
Produce a `.gitignore` to be agreed by team.

[2020-05-06 06:25] bobturneruk opened #106 "Develop Testing Plan"
Come up with a plan for implementing testing for this repository and obtain agreement from team. On the basis of this raise additional GitHub issues as needed to get the plan going.

[2020-05-06 06:29] bobturneruk opened #107 "Develop an output formats plan"
Decide (liaising with consortium management) on output formats for this repository. These might include:

- GeoTIFF
- Shapefile
- HDF5

Raise additional issues to implement output in code and to document.

[2020-05-06 06:32] bobturneruk opened #108 "Develop a visualisation plan"
Decide (liaising with consortium) on approach to visualisation. Simple Network Sim may need a way of visualising data for development purposes, but may also be required to integrate with general SCRC visualisation systems e.g. for consistency of output.

Raise additional issues for implementation and documentation of visualisation.

[2020-05-06 06:35] bobturneruk opened #109 "Figure out compute requirements for different scales of modelling. GPU? HPC?"
As the model is scaled up, compute requirements may grow beyond the "conventional". We should ensure that our early design decisions to do impede this, if possible: Liaise with HPC / GPU experts and obtain advice.

[2020-05-06 06:35] jwscook commented on #15
This is a slightly wider as we need to somehow include provenance of input data alongside the run scripts. @claireh93 I'm not sure what input data is required so can't add any further information unfortunately.

[2020-05-06 06:37] bobturneruk opened #110 "Evaluate Jupyter notebooks for this project"
Evaluate Jupyter notebooks as a means of documenting / disseminating this project. Will compute requirements restrict this?

[2020-05-06 06:40] bobturneruk opened #111 "Evaluate Binder for this project"
If we use Jupyter notebooks, should we use Binder to create an execution environment?

[2020-05-06 06:42] bobturneruk opened #112 "Evaluate pypi for this project"
Weigh up (liaising with consortium) whether a pypi package is a good way to disseminate this project.

[2020-05-06 06:43] bobturneruk opened #113 "Implement Readthedocs for this project"
Evaluate (liasing with consortium) if we want a readthedocs site for this project. Raise additional issues if we do e.g. add docstrings in the right format.

[2020-05-06 06:45] bobturneruk opened #114 "Implement Continuous Integration"
Determine the best route to doing CI on this project GH Actions (used by CoronaBICI)? Travis? Appveyor? Also Codecov? Raise further issues for implementation.

[2020-05-06 06:46] bobturneruk opened #115 "Add project description for GitHub project"
This is part of the GitHub projects GUI and will help people to understand what this project is about.

[2020-05-06 06:51] bobturneruk opened #116 "Move development plan from repo. to issues"

[2020-05-06 07:01] bobturneruk opened #117 "Protect master branch in GitHub settings"
Use settings in GitHub to:

- Disable pushes to `master`
- Require a review before mergin PR to `master`

[2020-05-06 07:59] alahiff commented on #75
I could easily just redirect directly to https://github.com/ScottishCovidResponse, however that would have the same SSL issue. Please let me know if I should do that.

It would be preferable to set up a web page using GitHub Pages, as GitHub supports custom domains and https for those.

[2020-05-06 08:23] nathan-cummings-ukaea commented on #25
The relevant scripts are indeed now in the personnel repo (thanks to @jholloc for putting these together). Checked the logs this morning, the update is hourly and running successfully.

I've not used Github CI before but happy to give it a go. Feel free to assign me to this task.

[2020-05-06 08:33] jholloc commented on #33
Doesn't look like I can assign myself to this but i'm happy to take a look.

[2020-05-06 08:59] alysbrett commented on #25
Think this is now done then and remaining work is in the CI related issue... thanks very much @jholloc @nathan-cummings-ukaea  and @alahiff !

[2020-05-06 08:59] #25 closed

[2020-05-06 09:14] jwscook commented on #88
Master will be fixed shortly when dev is merged in.

[2020-05-06 09:33] #14 closed

[2020-05-06 09:34] thibaud-porphyre opened #118 "A Plan for Continuous Management of Data from Central Repository to Model"
As of now, data are extracted from gitHub and processed using R to a format readable in c++. We need a more streamline process directly in the model.

See also #225
See also #440
See also #437

[2020-05-06 09:35] peter-t-fox opened #119 "Switch CMake configuration to use Clang"
Code was originally developed using Clang. CMakeLists.txt presently uses g++, which can be an alias for Clang++ on some platforms, but not everywhere. Change the CmakeLists to enforce use of Clang as a requirement, so that everyone is using the same environment.

[2020-05-06 09:38] peter-t-fox opened #120 "CMake fails on test directory"
On @thibaud-porphyre Mac environment, CMake 3.17 fails to configure build of the test directory. Works successfully on Linux using CMake 3.10.

Error messages to go here:

[2020-05-06 09:41] peter-t-fox opened #121 "Allow setting of randomiser seed in parameter file"
At present, the only way to fix the randomiser seed is to alter the code and re-build. It would be useful if the seed could be taken from the `parameters.ini` file, to allow people to more easily run regression tests.

[2020-05-06 09:45] peter-t-fox opened #122 "Separate model from rest of the code"
At present, the core model logic is embedded into the code and cannot easily be exercised in a stand-alone manner for independent testing. It would be good if it could be turned into a stand-alone module, perhaps with a standardised interface which would be supported by different types of models.

[2020-05-06 09:46] jwscook opened #123 "Performance optimisation"
Moves on from #7 #6

Use the benchmarking and profiling tools e.g. https://github.com/tkluck/StatProfilerHTML.jl to find bottlenecks and make performance improvements.

[2020-05-06 09:46] thibaud-porphyre commented on #120
Error messages from Bash:
mvm-ri-m18002:build tporphyr$ cmake ..
-- APPLE=1
-- CMAKE_ADDR2LINE=CMAKE_ADDR2LINE-NOTFOUND
-- CMAKE_AR=/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/ar
-- CMAKE_AR=/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/ar
-- CMAKE_AUTOGEN_ORIGIN_DEPENDS=ON
-- CMAKE_AUTOMOC_COMPILER_PREDEFINES=ON
-

[2020-05-06 09:55] peter-t-fox opened #124 "Merge branch for version 0.3.2.4 into development"
Branch `version_0.3.2.4` is based on the original monolithic code. It needs to be merged manually into the new refactored `dev` branch, without breaking anything.

Steps:
- [x] Generate some regression test data sets by fixing a few randomiser seed values (see also #121)
- [x] Manually merge the modifications into the `dev` branch
- [x] Re-run the regression tests with the same seed values and con

[2020-05-06 10:00] jwscook commented on #2
The code outputs an `EpiSystem` https://github.com/ScottishCovidResponse/Simulation.jl/blob/1656cbc76925a786e9adb266a1f6a2263a664f1f/src/Epidemiology/EpiSystem.jl#L35, which contains an `abundances::EpiLandscape` which is what we want to plot as:

 - 1D line traces of number in each SER group summed over all 2D space vs time.
 - 2D heatmaps of SER group in 2D space at each time slice.

We want thi

[2020-05-06 10:25] bobturneruk commented on #117
Settings changed:

https://github.com/ScottishCovidResponse/simple_network_sim/settings/branch_protection_rules/15793661

[2020-05-06 10:25] #117 closed

[2020-05-06 10:39] #116 closed

[2020-05-06 11:26] sam-brett opened #125 "Achieve 80% unit testing on contact package"
At present, the uk.co.ramp.contact tracing package has no unit tests. Create unit tests for ContactRecord and DailyContact classes

[2020-05-06 11:28] sam-brett opened #126 "Achieve 80% unit testing coverage on io package"
At present the uk.co.ramp.io package has no unit tests, achieve 80% coverage on all classes, including within the internal reader package.

[2020-05-06 11:29] sam-brett opened #127 "Achieve 80% unit test coverage in people package"
At present there is no unit test coverage for the people package, achieve 80% coverage across all classes.

[2020-05-06 11:30] sdl1 commented on #10
Taking a look at this, the cleanest way seems to be to make `simplehabitatAE` accept `scotpop`, figure out `dimension` and `active` automatically from that, and then save `scotpop` as a field `initial_susceptibles` (or something) in `GridEpiEnv`. Then when `EpiSystem` is constructed it can pull this information to populate its landscape automatically.

 I'll try this, unless there are other prefer

[2020-05-06 11:31] sam-brett opened #128 "Achieve 80% unit test coverage on record package"
At present there are no unit tests, achieve 80% coverage of each class

[2020-05-06 11:32] sam-brett opened #129 "Achieve 80% unit test coverage in utilities class"
At present there is no coverage, achieve 80% coverage in each class

[2020-05-06 12:30] magicicada opened #130 "Remove sample run code from the bottom of the model file"

[2020-05-06 12:33] magicicada opened #131 "Add age-structure and population level reading from file for nodes"
This is to read data as in sample_hb2019_pop_est_2018.sampleCSV in the sample_input_files directory.  There's a wee description in the data_dictionary.  I'd ideally like a function to return a nested dictionary structure, so that nameOfDict[Health_Board][Sex][Age] has an integer value that is the number of individuals in that class - e.g.

nameOfDict['S08000015']['Female']['y'] should have value 3

[2020-05-06 12:33] magicicada opened #132 "Check integration of age-mixing matrix with internal node disease progression"

[2020-05-06 12:35] magicicada opened #133 "Generate age-mixing file for internal population mixing"
Derived from the COMIX matrix - gettable at https://cmmid.github.io/topics/covid19/comix-impact-of-physical-distance-measures-on-transmission-in-the-UK.html

[2020-05-06 12:37] magicicada opened #134 "Add a function to read the age-class mixing matrix"
We have an age-mixing matrix in format visible in sample_20200327_comix_social_contacts.sampleCSV
that gives mean number of contacts per day from one age band (the row labels) to another age band (the column labels). I would like a function that reads a file in this format and returns a nested dictionary indexed by tuples that describe the age ranges and with values that are the floating-point con

[2020-05-06 12:39] magicicada opened #135 "Generate sample age-structured population file for testing"

[2020-05-06 12:39] magicicada opened #136 "Re-organise sample parameter files into a subdirectory for increased tidyness"

[2020-05-06 13:27] #124 closed

[2020-05-06 13:28] #121 closed

[2020-05-06 13:30] peter-t-fox opened #137 "Enable regression tests in CI"
The CI is presently broken, as the data set for the 'short test' was removed from the repository in favour of the regression tests. Execution of these needs to be incorporated into the workflow.

The data for the regression tests (inputs and expected outputs) are already populated in the `test/regression/runN` directory. The only work to do is to write one or more scripts which copy the inputs to

[2020-05-06 15:16] ianhinder opened #138 "Get Chris up and running on CSD3 (DiRAC)"
- [ ] Apply for account (see [DiRAC Access](https://github.com/ScottishCovidResponse/SCRCIssueTracking/wiki/DiRAC-Access))
- [ ] Log in successfully
- [ ] Follow [CSD3 instructions](https://github.com/ScottishCovidResponse/CoronaBICI/blob/master/Docs/CSD3.md)

[2020-05-06 15:17] ianhinder opened #139 "Set up Chris to use git as part of daily workflow"

[2020-05-06 15:18] #139 closed

[2020-05-06 15:18] thibaud-porphyre commented on #9
in my model, the basic data required are:
- daily number of deaths and incident cases per health board/administrative unit of interest for the whole of UK.
- population number for health board/administrative unit of interest
- age structure (as a proportion of the population) for health board/administrative unit of interest
- contact matrices between age classes (we need to define which age classe

[2020-05-06 15:20] #130 closed

[2020-05-06 15:26] wytbella opened #140 "benchmark canonical tests"
Change the benchnark from scrips in `examples/Epidemiology/` to those in `test/canonical/`

A few questions,

- Is it ok to benchmark each individual files, or it's strictly required to benchmark `simulate!` only? @claireh93

- If we want to benchmark part of the file, I might have to copy files to `benchmark/` and do some edit there. This means we keep the same set of canonical scripts in two pla

[2020-05-06 15:39] richardreeve commented on #107
This (and #108) should be a general issue across all models, as should #9... maybe we should have a cross-model meeting about them?

[2020-05-06 15:47] ianhinder commented on #31
Done

[2020-05-06 15:47] #31 closed

[2020-05-06 16:04] #84 closed

[2020-05-06 16:18] alysbrett opened #141 "Assistance with Github workflows/permissions/troubleshooting"
We are trying to use Github-based workflows and features as much as possible for managing the projects and the collaboration on code. There are lots of people with good knowledge but scattered around and it would be really useful to have another person to join @richardreeve and I in trying to make sure the Github set up is working as well as possible, answering requests to alter permissions etc. I

[2020-05-06 16:23] jwscook commented on #140
It would be good to refactor the benchmark to accept a cached dependency (the kind that takes 10 mins to create but I've forgotten its name). Then the benchmark can amortise initialisation and the measurement will be essentially be of the main loop.

[2020-05-06 16:40] alysbrett opened #142 "Find a data manager and software/platform lead for the data project"
There is a need for someone with knowledge of data management and software engineering to research, identify and set up a data storage platform and access methods, and contribute to or integrate with a provenance/cataloging system. This is the technical work to implement the data management workflows that have been defined. There is work on some elements of this but more input and someone to push

[2020-05-06 16:43] wytbella commented on #140
You mean to load the precomputed environment as a JLSO file? This JLSO file is saved by running those canonical test files? Everytime the canonical test get updated, we just save a new JLSO to run benchmark on?

Not sure I know what you refer to

[2020-05-06 16:51] alysbrett opened #143 "Software engineering work to make a new particle filter method reusable"
Placeholder issue for a request from @glenn-marion for an RSE to work with him on a new method implementation he is developing to turn it into a reusable software component for various projects. To be updated following further discussion of what's needed between @jwscook and Glenn.

[2020-05-06 17:08] ianhinder commented on #32
Fixed

[2020-05-06 17:08] #32 closed

[2020-05-06 19:10] jwscook commented on #87
Might want to ditch brew if symlinks take longer relink than actually downloading and installing mpi in the first place.

[code]

and then cache `/opt/local/bin`, `/opt/local/lib`, `/opt/local/include`

[2020-05-06 22:26] ianhinder opened #144 "Familiarise Ian with the code"

[2020-05-06 22:38] ianhinder opened #145 "Non-deterministic crashes"
After merging the chrispooley branch (commit 937433263e732677110e99fbb5452c1244d27245), I get non-deterministic errors when running on macOS when compiled using Apple Clang ("g++").  These errors happen with the serial build.  Sometimes it is a segmentation fault, sometimes a check error (I think).  Sometimes it completed without errors.

To reproduce:
[code]
The output is:
[code]

I don't know wh

[2020-05-06 22:46] ianhinder commented on #34
There is work-in-progress for this on the static_analysis branch.  It runs as part of the CI workflow, and outputs to the build log.  We should work out how to send the HTML report directory to a web server; possibly via pushing to a github pages branch, or maybe via artefacts.  It would also be good to report the number of warnings generated somewhere visible.

[2020-05-07 07:16] bobturneruk commented on #107
Perhaps folks from other repos could apply their labels to this issue? And use this as a place for discussion? Happy to participate in a meeting.

[2020-05-07 07:27] #93 closed

[2020-05-07 08:11] WPettersson commented on #145
I checked with Valgrind, and there seem to be a number of memory leaks and invalid memory reads. These can often cause non-deterministic crashes such as these, depending on what was stored in memory before running bici.

I've tracked down some to check.h:345, where the code calls a switch statement on an invalid read, and with no default case, which could potentially cause a crash, so might be wor

[2020-05-07 08:29] jwscook opened #146 "Lazy load optionally dependency packages e.g. MPI with Requires.jl"
MPI isn't needed for serial or threaded runs, so it Requires.jl might speed up loading time if it used to configure the project to ignore MPI in these cases. If it doesn't speed things up, then scrap it and keep it simple.

[2020-05-07 08:33] jwscook commented on #140
I don't know - it was mentioned in the chat yesterday. Can you run it and find out what happens before the main loop? If there is a anything that can be saved e.g. as a JLSO file, make that happen. Then for future benchmarks it will be possible to load that straight in and skip the set up. This issue requires some research on your part, so don't be put off by not knowing the answers - no one does.

[2020-05-07 08:39] magicicada opened #147 "Generate a data description dictionary that describe what each column in the sample input means"
This should make writing code to ingest them more possible.

Will eventually be replaced by HDF5 data

[2020-05-07 08:40] alahiff commented on #99
My first tests running BICI based on the DMTCP examples in https://docs.hpc.cam.ac.uk/hpc/user-guide/long.html have been successful. Both serial and MPI versions work. If a BICI job is restarted after being killed once it continues where it left off and the output files generated are the same as when BICI is run to completion without DMTCP.

The examples in the CSD3 user guide and GitHub page requ

[2020-05-07 09:00] claireh93 commented on #140
Ah are we talking about the `EpiSystem` here? We have functionality to save that now as a result of #14. This sounds like a great idea, and would need the canonical tests to save the outputs in a cache. Then you could just load them in and benchmark `simulate!(epi, timestep)`.

[2020-05-07 09:08] claireh93 commented on #88
Fixed with ScottishCovidResponse/Simulation.jl#22

[2020-05-07 09:08] #88 closed

[2020-05-07 09:08] #100 closed

[2020-05-07 09:32] claireh93 opened #148 "Separate virus from other human categories"
Currently the virus population and human categories (S, E, I, R etc) are stored in the same matrix in the `EpiLandscape`. This probably doesn't make sense anymore, as the update loops for virus and humans act separately anyway. The idea would be to store the virus population in a separate matrix within the `EpiLandscape`. This would require changes to how this landscape is generated and what the u

[2020-05-07 09:36] claireh93 commented on #148
In particular these files would need to be changed, but there may be other places
https://github.com/ScottishCovidResponse/Simulation.jl/blob/dev/src/Epidemiology/EpiLandscape.jl
https://github.com/ScottishCovidResponse/Simulation.jl/blob/dev/src/Epidemiology/EpiGenerate.jl

[2020-05-07 09:38] claireh93 commented on #148
For the update loops, virusupdate! would now act on a completely separate matrix in `epi.abundances`.
classupdate! would then loop through all classes rather than needing to find where the susceptible class is in lines 113 - 115

[2020-05-07 09:41] claireh93 commented on #148
In terms of the `EpiLandscape`, it's possible that we could end up with lots of different virus categories in the near future (one per age category for example) - am I right in thinking that @richardreeve?

[2020-05-07 09:53] claireh93 opened #149 "Cleanup lookup table generation"
The _lookup function (starting at line 477 in https://github.com/ScottishCovidResponse/Simulation.jl/blob/dev/src/Biodiversity/Ecosystem.jl) is responsible of generating a table per species of what probability it has of moving over the local area according to a kernel. This is one of the first things I wrote 4 years ago and it's horrible code! I think cleaning this up will really help us for futur

[2020-05-07 09:55] claireh93 commented on #149
At the moment it searches through a grid of relative moves (e.g. move 1 grid cell to the North, 1 to the west) and calculates the probability of making this move through integrating the dispersal function (`dispersalfn`) over the area.

[2020-05-07 09:56] claireh93 commented on #149
In order to do less computation, it only does this for one corner of the kernel, and fills in the rest symmetrically using the function `_symmetric_grid` (line 426).

[2020-05-07 10:00] claireh93 commented on #149
The epi code also relies on this architecture, even though it is written in the biodiversity side of the code. If anyone can think of a way for this to be better structured and cleaner, that would be great!

[2020-05-07 10:32] jholloc commented on #33
Nevermind, I found all the models in the BICI github.

[2020-05-07 10:34] mohamed82008 commented on #146
It's also about the simplicity of installation, no need to have MPI setup to get Simulation.jl running.

[2020-05-07 10:42] jwscook commented on #146
Yes that's very true @mohamed82008 . It's a better solution to build times than #87 by far. Don't ask me how many hours I've waited for Travis builds to fail....

[2020-05-07 10:45] jholloc commented on #33
I'm getting the following error when trying to load the 'Scotland_model.txt' using the BICI GUI (and also when using the CLI version i'm creating):

`'S08000015' is not a classification name`

[2020-05-07 10:51] richardreeve commented on #75
We are thinking that https://github.scrc.uk -> https://github.com/ScottishCovidResponse and we will need a new data.scrc.uk soon to hold the data management database soon, but that's nothing we need today I guess.

I don't know what the best solution is for https - http://scrc.uk and http://www.scrc.uk works fine as a redirect though to Glasgow, so I think it's fine so long as we're careful... is

[2020-05-07 11:02] ianhinder commented on #145
Thanks!  I am running a stress test on linux, and it's reached 421 runs of the same code without crashing, whereas on my laptop, it always tends to crash before 10 or so.  The main difference is the compiler (GCC vs Apple Clang).  There's of course the possibility that it's a compiler bug, but much more likely it just doesn't happen to show up with the way the code is compiled with GCC, and it's d

[2020-05-07 11:09] jwscook commented on #149
Julia is unable to specialise on arguments specified as `Function` e.g.

[code]

There might be a significant speed up changing to e.g.

[code]

I'll make a PR

[2020-05-07 11:09] #136 closed

[2020-05-07 11:10] claireh93 commented on #149
Ahh good to know! There might be a couple of those throughout the codebase

[2020-05-07 11:11] magicicada opened #150 "Add functionality for a testing and isolation regime"
This is likely to spawn multiple other issues

[2020-05-07 11:12] jwscook commented on #149
OK. I'll hunt some down and fix those in the this PR.

[2020-05-07 11:25] ianhinder commented on #33
I've never tried to do it from the GUI.  I'll escalate this to Chris; maybe he knows the reason.  It's possible that the BICI GUI is out of date.  Maybe he has a newer one.

[2020-05-07 11:27] ianhinder commented on #33
Are you using the version available from http://www.mkodb.roslin.ed.ac.uk/EAT/BICI.html?  Mac or Windows?

[2020-05-07 11:36] ianhinder commented on #33
I get the same when I try it using the macOS version, which was downloaded as http://www.mkodb.roslin.ed.ac.uk/EAT/BICI_v1.0_Mac.zip.

![image](https://user-images.githubusercontent.com/213274/81289718-c84c7180-905e-11ea-9946-466f5c5088e0.png)

[2020-05-07 11:48] jholloc commented on #33
I am using the Windows one, but I see you're getting the same error on the Mac version.

[2020-05-07 12:01] WPettersson commented on #145
I also did try the mass runs with both GCC and CLANG, and reached the same results as you (many runs, zero crashes). It might be a compiler thing, I do know that recently (GCC7 I think?) they made some changes that would avoid crashes on accessing uninitialised memory, but I don't have any specifics.

I'll have a go through today/soon and add some error checking on all these switch statements and

[2020-05-07 12:42] #10 closed

[2020-05-07 12:45] richardreeve commented on #9
We had a meeting today about the data management strategy, which is (finally?) coming together (we did deliberately de-prioritise it behind getting the groups up and running). For the moment, people should use whatever ad hoc method they can, and **absolutely try to avoid spending time fixing things neatly**, as when we implement our data management it will be pretty disruptive for a short time as

[2020-05-07 12:46] claireh93 commented on #6
Closed with ScottishCovidResponse/Simulation.jl#23.

[2020-05-07 12:46] #6 closed

[2020-05-07 12:49] claireh93 commented on #11
Waiting on climate data, but should be available shortly.

[2020-05-07 13:10] ianhinder commented on #145
Feel free to commit the error checking on the switch statements to a branch.  I just tried the stress test with MacPorts gcc8 8.4.0_0 on my mac, and it failed after the first Check with
[code]

[2020-05-07 13:12] ianhinder commented on #145
Maybe macOS initialises process memory differently to Linux.

[2020-05-07 13:16] ianhinder commented on #145
Actually, we don't have to go to the trouble of running the static analyzer. Compiling with -Wall is enough to find lots of possible issues.  I think clearing these compiler warnings should be a high priority.  Can I leave this with you? Do you have some time to devote to this at the moment?

[2020-05-07 13:20] ianhinder commented on #33
Chris says:

[js.zip](https://github.com/ScottishCovidResponse/SCRCIssueTracking/files/4593155/js.zip)

[2020-05-07 13:22] ianhinder commented on #99
Excellent!  Thanks very much!  Can you put it on a branch (even if it's work-in-progress)?

[2020-05-07 13:27] ianhinder commented on #30
@richardreeve, you replied to a CoronaBICI issue.  Need to get per-label notifications working!

[2020-05-07 13:44] alahiff commented on #75
I've now setup http://github.scrc.uk -> https://github.com/ScottishCovidResponse

I'll try to think of some way to get around the SSL issue.

[2020-05-07 13:46] jwscook opened #151 "Allow specialisation on Functions passed as arguments / as struct members"
Came out of convo in #149

[2020-05-07 14:05] WPettersson commented on #145
I'm happy to go through the warnings that pop up. Some of them I've already inspected, in particular there are a few indentation warnings where the code looks like

    for (int j =0 j < size; ++j) do_x(j); do_y();

In some cases, I'm confident the code is correct, but sometimes I'm plain not sure. With those, I may have to ask questions.

[2020-05-07 14:41] ianhinder commented on #68
Fixed in 476369599592ae3a7ca354101017e70c1a856254.

[2020-05-07 14:41] #68 closed

[2020-05-07 14:53] ianhinder opened #152 "Eliminate compiler warnings"
Many of the current compiler warnings (when compiling with -Wall) indicate potential bugs.  Some of them are more cosmetic, but if we have many warnings, we might miss important new ones during development.  So I would advocate eliminating all of them, if practical, for all the compilers we are using.

[2020-05-07 15:00] ianhinder commented on #145
I've created #152 specifically about compiler warnings and assigned it to you.

[2020-05-07 15:35] ianhinder opened #153 "Improve issue notifications"
In order to keep on top of what's going on in a project, we need to have notifications of comments on issues.  Currently, we have a single issues repository for which we can subscribe to notifications.  However, this sends us notifications of every single change to every issue in every repository (since they are all discussed in the one repository).  The email notifications, sadly, don't contain e

[2020-05-07 15:41] ianhinder opened #154 "Test issue"
Test of issue label notifications.

[2020-05-07 15:49] ianhinder opened #155 "Test issue 2"

[2020-05-07 15:57] #155 closed

[2020-05-07 15:57] #154 closed

[2020-05-07 15:59] ianhinder commented on #153
I've implemented a test version of (3), just for my case.  This could be expanded in https://github.com/ScottishCovidResponse/SCRCIssueTracking/blob/master/.github/workflows/issue-label-notifications.yml to map all the labels to the teams.  This would cause all those people to get all notifications for all teams they are in; I'm not sure if they could opt out.

[2020-05-07 16:29] alahiff commented on #99
I will once I get things working again - for some reason as soon as I updated this ticket the scripts I was running all stopped working and give bus errors now :-( Still trying to sort this out...

[2020-05-07 16:41] richardreeve commented on #153
I suspect they couldn't, but if people actually complain then we could make child "notification" teams of the main project teams that people can remove themselves from. We should probably not start off with that though - we have enough complexity already... do you want to just go ahead and do it? You can send an email to scrc-dev at glasgow.ac.uk, which will (hopefully!) go to all of the members o

[2020-05-07 16:41] richardreeve commented on #153
@alysbrett What do you think?

[2020-05-07 16:55] alysbrett opened #156 "Turn data registry schema into a live DB"
@aaron-reeves has created a database schema after discussing the data workflows with @IainM-BioSS. We need to create the production database from this, probably hosted at STFC as we did for the people database for mailing lists.

- [ ] @aaron-reeves to upload the schema to the empty data-registry repo in this org

- [ ] Create a database at STFC using the schema

- [ ] Arrange the appropriate URL

[2020-05-07 16:58] alysbrett commented on #153
Yes - let's try it. If you have time do go ahead @ianhinder or let me know if you need help

[2020-05-07 17:05] WPettersson commented on #152
I've pushed my WIP to dev/compiler-warnings. So far I've only eliminated the switch-default warnings, but there's a rather large caveat. I've added errors (calls to emsg which call exit) to all the default switch cases where doing so does not break bici. However, there are a number of places where a default of "do nothing" might be correct. For instance, in [equation.h line 595](https://github.com

[2020-05-07 17:08] richardreeve commented on #156
I was just thinking of data.scrc.uk to keep things short and simple - #75 ?

[2020-05-07 17:11] alysbrett commented on #156
Yes, as long as we don't thing we'll want that for an actual storage platform (I guess probably not if it's Zenodo or similar)

[2020-05-07 17:14] ianhinder commented on #153
I'll give it a shot!

[2020-05-07 17:17] ianhinder commented on #153
Actually, as per the email I sent a few mins ago, another option would be to explicitly add the code owner and the RSE lead, rather than the whole team.  Do we think there is value in other members getting all notifications?  I could do that, send the email, and ask if anyone else wants to be added.  That might make a flood of requests though, and it wouldn't scale to new members.  Is everyone aut

[2020-05-07 17:18] aaron-reeves commented on #156
Hi, all.  This will require more discussion.  What is STFC, and what hosting capabilities does it have?  Which RDMS is supported, and do we have full access to any database that we set up (presumably we do)?  I've designed the database the way I would implement it, but it may not be the most suitable for a Django (or similar) application.  Do we have a developer yet?

[2020-05-07 17:26] richardreeve commented on #153
Personally I would add the whole teams, send an email saying what has happened and what to do (unwatch the repo), and ask if anyone minds this setup. If no-one complains then we leave it. If they do object we can remove that team and add its members. Hopefully inertia will mean no-one complains...

[2020-05-07 17:29] ianhinder commented on #153
OK, will do.

[2020-05-07 17:31] richardreeve commented on #153
I've unwatched. I'm v excited!

[2020-05-07 17:33] alysbrett commented on #156
Hi Aaron - Apologies for the abrupt tagging and lack of explanation. STFC is a funding council and their Scientific Computing Department provide various scientific computing services nationally for UK research. They have a hosting platform we've made use of for this collaboration already via @alahiff.   I've just had a chat with @jholloc about this who recently set up the database to populate the

[2020-05-07 17:40] jholloc commented on #33
Thanks. With the updated javascript I now have a working command line tool that can read a model text file and generate the XML file.

[2020-05-07 17:43] ianhinder commented on #153
haha.  I've got a mapping here; can you check it?
[code]

I don't know how to do the Simple Network Sim one.  The label name with spaces is fine (there's one in the example). But the team name with spaces is going to be ambiguous, because they use spaces as the separator between multiple recipients.  Maybe the "@" is enough.  There's no documentation on what to do in that case, and I can't find th

[2020-05-07 17:47] richardreeve commented on #153
We could just rename the team?

[2020-05-07 17:47] richardreeve commented on #153
Simple-Network-Sim?

[2020-05-07 17:48] ianhinder commented on #153
yeah - I'd do that if it doesn't work. On that subject, it would be nice if the labels and team names coincided in case, separator, and name (e.g. Contact-Tracing-Model != @FMD-Model).

[2020-05-07 17:50] richardreeve commented on #153
Yeah, FMD-Model got restarted (it was a repo 10 days ago). I don't know what to do about that. But Simple-Network-Sim is changed.

[2020-05-07 17:51] richardreeve commented on #153
Oh, sorry. I see you said you'd try it with spaces. Sorry - it's the end of the week!

[2020-05-07 17:57] ianhinder commented on #153
I'll check what it is now, and make it consistent.

[2020-05-07 18:08] ianhinder opened #157 "Test issue"

[2020-05-07 18:14] ianhinder opened #158 "Test issue 4"

[2020-05-07 18:18] ianhinder opened #159 "Test issue 5"

[2020-05-07 18:20] ianhinder commented on #159
@ richardreeve

[2020-05-07 18:20] ianhinder commented on #159
@richardreeve

[2020-05-07 18:21] richardreeve commented on #159
That got through (the latter).

[2020-05-07 18:21] richardreeve commented on #159
@IanHinder

[2020-05-07 18:22] richardreeve commented on #159
It automatically corrects the capitalisation when you do it by hand, but I guess not when github-actions does it.

[2020-05-07 18:22] ianhinder opened #160 "Test issue 6"

[2020-05-07 18:23] richardreeve commented on #159
Incidentally, weirdly the first (@ richardreeve) one sent me a message too. I don't know why...

[2020-05-07 18:28] ianhinder commented on #160
@ScottishCovidResponse/simulation-jl-admins

[2020-05-07 18:34] ianhinder opened #161 "Test issue 7"

[2020-05-07 18:56] ianhinder opened #162 "Test Issue 8"

[2020-05-07 18:59] richardreeve opened #163 "Test issue 9"

[2020-05-07 19:09] #157 closed

[2020-05-07 19:09] #158 closed

[2020-05-07 19:09] #159 closed

[2020-05-07 19:09] #160 closed

[2020-05-07 19:09] #161 closed

[2020-05-07 19:09] #162 closed

[2020-05-07 19:09] #163 closed

[2020-05-07 19:18] ianhinder commented on #33
Excellent!  Does the generated XML diff identically with the one in the repo?  Can you stick it in the repo on a branch, along with some brief info about dependencies and how to run it?  I'm going to do more thinking about the workflow for generating the input files in general, so I might play around with it a bit before it's finalised.  Just having it runnable from the command line, and in git, i

[2020-05-07 19:48] richardreeve commented on #153
I believe @ianhinder has now fixed this for some of us using the github action above. I'm resubscribing to some of the issues that were tagged but I didn't subscribe to manually, so I guess we have to be careful about that (or we could manually take the label of and re-add the label to every issue!). Anyway, closing... 🎉

[2020-05-07 19:48] #153 closed

[2020-05-08 07:21] jholloc commented on #33
The only difference in the XML is:
My init.xml:
<inference nsamp="20000001" tmin="0" tmax="122" indmax="100000"/>
Scotland_model.xml:
<inference nsamp="20000001" tmin="0" tmax="122" indmax="undefined"/>

[2020-05-08 08:01] jholloc commented on #33
I have checked in the code on a new branch (text2xml) and added some notes in the README to cover the usage of the tool. There are no dependencies apart from node.js so it shouldn't require and installation, the script should be able to be run as is.

[2020-05-08 08:54] magicicada opened #165 "Scan code for any hardcoded parameters"
Check through the main model for any parameters that are still hard-coded (we used this during very early develepment for toy model).  Make a list of these, and then we can raise issues to instead read them from file, provide as params from calling code, etc.

[2020-05-08 09:05] magicicada opened #166 "Get code running on Health board network with health board population figures"
In the first instance this should use the files in the sample input files directory.

[2020-05-08 09:49] #146 closed

[2020-05-08 09:52] bobturneruk opened #167 "Review data dictionary"
A non-expert should review the data dictionary and make sure is makes sense in relation to the example / source data.

[2020-05-08 09:54] bobturneruk opened #168 "Reformat data dictionary as markdown"
Include as appropriate:

- Formatting
- Links (e.g. from readme, to more detailed information)

[2020-05-08 09:56] sam-brett commented on #54
This ticket is the parent of #125 #126 #127 #128 #129

[2020-05-08 10:02] #135 closed

[2020-05-08 10:02] #147 closed

[2020-05-08 10:02] #133 closed

[2020-05-08 11:02] claireh93 commented on #148
Blocked until #81 goes through.

[2020-05-08 11:26] vinopm commented on #53
de4ee34d08037788ee95b4ede0d79dfcd982bca8

[2020-05-08 11:29] vinopm commented on #53
https://github.com/ScottishCovidResponse/Contact-Tracing-Model/pull/2

[2020-05-08 11:29] vinopm commented on #53
https://github.com/ScottishCovidResponse/Covid_Simulation_Model/pull/5

[2020-05-08 11:39] vinopm commented on #54
@sam-brett let me know if I can help with this one

[2020-05-08 12:08] ianhinder commented on #33
Great!  I'll take a look.  Regarding the indmax difference above: there should be three versions of the XML file:

1. The one in the repository
2. One generated by the BICI GUI
3. One generated by your command line version of 2

Which are the two which differ by indmax?  I'm guessing the difference is between 1 and 3, and that 2 is the same as 3, meaning that the version in the repository wasn't g

[2020-05-08 12:17] ianhinder commented on #33
Really good that we've got this running.  Now we can do a bit of tidy-up.  A few questions on the branch:
1. Did you import all the js files, or just the ones needed for the conversion?  (I'd say either is fine, I'm just curious)
2. Can you add a command line argument to specify the output filename?  It should make things a bit cleaner when we're scripting the workflow later.
3. The "machine" argu

[2020-05-08 12:25] jholloc commented on #33
Hi. I've fixed the difference in the XML - it was a missing call to initvar() to initialise some global state.

[2020-05-08 12:25] ianhinder commented on #33
I've just tried it out.  Node was easy to install on my Mac ("sudo port install nodejs14" with MacPorts, and it came in with no extra dependencies).  However, while I get the success message, it doesn't seem to actually generate a file!
[code]
Can you check that it works for you, and you're not just looking at an old version of the file?

[2020-05-08 12:28] jholloc commented on #33
1. I have only imported (and committed to the repo) the javascript actually needed.
2. I can only specify the filename by modifying the BICI GUI javascript as it is hardcoded.
3. The ver variable is used in inference.js (line 885) and that function won't run without it defined (though we can just set it to one of the values, i.e. "windows")

[2020-05-08 12:29] jholloc commented on #33
I assume you are running on a Mac? For some reason when the machine is set to "mac" the file that is created is "/tmp/init.xml".

[2020-05-08 12:49] ianhinder commented on #152
I think that the more internal consistency checks we can add, the better.  Even if they slow the code down a bit, correctness is more important than performance for this project, I would say.

I'm going to comment just on the example you gave, so we have something concrete to discuss.  The main problem here is that there is a possible use of an uninitialised variable (num1) that the compiler canno

[2020-05-08 13:04] ianhinder commented on #33
Since this is probably only a stopgap measure anyway, and we've only brought in the source files needed for the conversion, this copy isn't going to be used for the GUI in future, so I don't see a problem with modifying it.  I guess it would need the variable to be passed through.  If it's too painful, then don't bother, but if it's easier, it would be neater and potentially less error-prone (e.g.

[2020-05-08 13:07] ianhinder commented on #101
To avoid giving more tasks to Chris, once we have #33, we could construct a cut-down version of the current model, which hopefully would run without crashing.

[2020-05-08 13:07] johnnonweiler commented on #53
This is mostly done, but for some reason the Action is not running on the Covid_Simulation_Model repository.  I suspect that this has something to do with the repository being forked, but have not been able (yet) to find a way to enable it.  It may be that admin rights are required on the repository to sort this out, so I'll take it from here.  Thanks again @vinopm !

[2020-05-08 13:15] johnnonweiler commented on #53
@vinopm Seems to have figured out the problem, so assigning this back to him!

[2020-05-08 13:36] vinopm commented on #53
https://github.com/ScottishCovidResponse/Contact-Tracing-Model/pull/4

[2020-05-08 13:40] #53 closed

[2020-05-08 13:55] WPettersson commented on #152
Yes, you are right that in that particular case, the default clause was being triggered, same holds for anywhere else where the default clause is ` ; // empty`.

My personal preference moving forwards is to re-factor so that values are definitely initialised before use. That would follow your pseudocode idea, something along the lines of

    if (eqncalcop[eq][i] in {ADD, TAKE, MULTIPLY, DIVIDE, P

[2020-05-08 14:02] vinopm commented on #53
Added 2 PR's above to integrate CI status badges into the readme pages

[2020-05-08 14:19] claireh93 opened #169 "Updates to license"
License isn't being picked up by GitHub and also needs updating to reflect new contributors.

[2020-05-08 14:36] jholloc commented on #33
I've just pushed a commit that should fix both 2 and 3. The new command line usage is:
[code]

[2020-05-08 15:15] ianhinder commented on #152
Sounds good!

[2020-05-08 15:50] claireh93 commented on #169
Closed with ScottishCovidResponse/Simulation.jl#30

[2020-05-08 15:50] #169 closed

[2020-05-08 16:43] ianhinder opened #170 "Possible crash for very low numbers of samples"
I seem to remember that when I set the number of samples to be very low (< 1000), bici crashed.  I suspect it has hard-coded the MCMC burn-in time and has made an assumption.  Instead, we could print a message such as "WARNING: not enough samples to exit burn-in period" or something.

[2020-05-08 16:51] ianhinder commented on #33
Hmm.  Now I get:
[code]

Maybe you forgot to commit the changes to one of the files?

[2020-05-08 16:59] jholloc commented on #33
Yes, I forgot to commit the updated inference.js. I've done this now.

[2020-05-08 20:58] richardreeve commented on #24
Contribution.md change in ScottishCovidResponse/Simulation.jl#31 will address this issue I think.

[2020-05-08 21:52] richardreeve commented on #81
Now ScottishCovidResponse/Simulation.jl#26 has been merged is this fixed @claireh93?

[2020-05-08 21:54] richardreeve commented on #148
Yes, I think so - I can't see how else we'll manage age specific mixing rates. It also parallelises better the more human and virus states there are, so there's that too...

[2020-05-09 19:41] mohamed82008 commented on #17
Note that the latest MPI.jl now installs MPI automatically using BinaryBuilder (https://discourse.julialang.org/t/ann-mpi-jl-0-14-changes/39126). But it still takes time.

[2020-05-09 21:35] jwscook commented on #17
I made a complete pigs ear of it, but I managed to get caching of the MPI installation working on travis in https://github.com/ScottishCovidResponse/Simulation.jl/pull/21

[2020-05-10 13:51] WPettersson commented on #152
One more question: what are your thoughts on turning the function `emsg` (see Analysis/header/var.h) into actual exceptions? It seems both clang and g++ aren't great at noticing that emsg exits the program, and so there are lots of unnecessary "may be used unitialized" complaints that can probably be cleaned up just by using exceptions directly.

One caveat is that I don't know how well this will

[2020-05-10 21:57] ianhinder commented on #152
Would adding [[[noreturn]]](https://en.cppreference.com/w/cpp/language/attributes/noreturn) to the declaration help? I don't think it's a problem to require C++11.

[2020-05-10 22:13] WPettersson commented on #152
Would be a smaller code change, for sure.

Also, latest commit on dev/compiler-warnings now has no invalid memory reads under valgrind. There are some small leaks to be plugged, but might be worth testing the MacOS build again to see if it crashes on this branch.

[2020-05-10 23:05] ianhinder commented on #152
Excellent!  So you found some actual invalid reads?

[2020-05-10 23:39] ianhinder commented on #152
21 iterations of running the code on macOS with your latest branch, and no crashes so far.  That's much better than master, where it would always crash before 10 runs.

[2020-05-11 07:49] peter-t-fox opened #171 "Refactor and test Utilities module"
The Utilities modules contains several functions which differ only in the type they operate on e.g.

[code]
These can trivially be replaced by generic template functions which act on any numeric type.

In addition, much of their functionality can be replaced by standard library routines such as `std::accumulate`.

Also, these functions can easily be unit tested, so this sould be a good starting po

[2020-05-11 08:00] peter-t-fox opened #172 "Confirm provenance of IniFile parser"
The original code contains a parser for `.ini` files used to extract input parameters from the `parameters.ini` file at the start of each run. This code is very different in style from the rest of the repository. Need to confirm its source and make sure that its license is compatible with ours.

[2020-05-11 08:56] alahiff commented on #99
I've sorted out the problem with bus errors I was having - after setting a unique `TMPDIR` per job the problem disappeared.

I've added a branch called "dmtcp" containing a new submission script `submit-bici-dmtcp`. If the job is still running 200s before the walltime is reached, it will create a checkpoint and  resubmit itself and resume where it left off. This can happen multiple times if necess

[2020-05-11 09:22] aflag commented on #106
I'm working on this

[2020-05-11 09:23] peter-t-fox opened #173 "Refactor and test DistanceComputation module"
In a similar manner to the `Utilities` module, the `DistanceComputation` module contains some duplicated code which could easily be simplified.

Tasks:

- [x] `sse_calc` and `sse_calc_int` functions should be merged via templates. Same for `sst_calc` and `sst_calc_int`.
- [x] Functions should throw a verbose exception if the simulated hospital and observed hospital data structures are not of the s

[2020-05-11 09:36] jholloc commented on #156
Hi @aaron-reeves. We have been using MariaDB for a few other parts of the SCRC tasks so it might make sense to continue using that for this database. Do you have schema ready for me to look at?

@alahiff could we have a new VM at STFC for this, or would it make more sense to run it on the existing database VM?

[2020-05-11 09:39] thibaud-porphyre commented on #172
This piece of code was a hand me down code from a colleague at SBio (school of Biology in Edinburgh Uni). TBH, I am not even sure that he coded it himself (maybe from the web).

[2020-05-11 09:46] aaron-reeves commented on #156
Hi, @jholloc.  Are you going to be the developer for this project?

We use PostgreSQL for all of the EPIC infrastructure, but it shouldn't be a problem to change it to MariaDB.  I don't imagine we'd be using any capabilities or syntax that are MariaDB-specific.  We do need to plan for how EPIC will continue to access the parameter repository and maintain the software once RAMP resources are no lon

[2020-05-11 09:55] jholloc commented on #156
Yes, it looks like I'll be working on this project. I have much more experience with PostgreSQL on my regular role so i'm happy to go with either. My feeling is that we should try and stick with one database technology across the SCRC projects though.

[2020-05-11 10:09] bobturneruk commented on #105
Should not ignore files in `sample_input_files`

[2020-05-11 10:10] magicicada commented on #96
python3 sampleUseOfModel.py sample_input_files/paramsAgeStructured sample_input_files/sample_hb2019_pop_est_2018.sampleCSV  sample_input_files/sample_scotHB_commute_moves_wu01.sampleCSV afilename.pdf

[2020-05-11 10:15] alahiff commented on #156
@jholloc It would be good to know more about this database first before deploying anything, e.g.

1. How much data is likely to be stored in it?
1. What will the access methods be? Will people be wanting to access it directly or will all access be via some other tool?
1. What is the level of availability required? For example, if even a very short downtime would be a huge problem we might need to

[2020-05-11 10:21] peter-t-fox opened #174 "Refactor core Model::Run function"
The `Model::Run` function is very large and needs splitting into smaller logical components.

- [x] The calls to `select_obs` are identical apart from one parameter. Switch to setting the parameter via a conditional statement and then making a single call to `select_obs`.
[code]
- [x] Loads of variables are declared far from where they are used. Locally-scoped declarations are preferred, where pos

[2020-05-11 10:22] magicicada commented on #96
![updated_CompartmentalModel](https://user-images.githubusercontent.com/6224231/81551373-a5310300-9379-11ea-9209-9dc82629cf45.png)

[2020-05-11 10:23] magicicada commented on #96
(Upon reflection, the structure is not fully input-file, it's also in some of the setup and the infection process functions, but we could move to making it as external-file-as-possible)

[2020-05-11 10:30] sam-brett commented on #54
@vinopm Hi Vino,

I've pushed a new branch that has some unit tests on it. There are a few tests across a couple of packages, but the utilities, io and contact packages don't have any tests yet. If you don't mind taking a stab at the io, utils and contact packages, I can finish off the people package. Once we hit 80% I'm going to call that a release. In the meantime I'll probably branch from this

[2020-05-11 10:39] peter-t-fox opened #175 "Develop core data structures"
At the moment, data in the model are all represented as simple single- or multi-dimensional arrays., essentially a mapping from the format of the input data files. This makes it difficult to understand the meaning of many of the operations in the code, as they depend on understanding the significance of particular row and column indices in the data structures.

We need to develop data structures w

[2020-05-11 10:46] sam-brett commented on #128
Complete, awaiting other tasks

[2020-05-11 10:52] vinopm commented on #54
Perfect, will work on getting that done. Thanks @sam-brett

[2020-05-11 11:00] jholloc commented on #156
I've only picked this up recently so don't know the full background on the issue. @aaron-reeves should we set up a meeting to discuss how to proceed with this? Who would be good to invite?

[2020-05-11 11:44] aaron-reeves commented on #156
@jholloc @alahiff Yes, a meeting would be a good idea.  I suggest that we include @IainM-BioSS.  It's not clear what my role (if any) in this will be going forward.

Answering questions from @alahiff:

 1, 5:  I am anticipating that storage and access needs will be quite modest (a few hundred queries per day, maybe a thousand queries per day if modelers have been exceptionally busy), as the reposi

[2020-05-11 12:03] richardreeve commented on #156
I'd like to take part in the meeting if that doesn't make it difficult to schedule so that I can chip in on how the programmatic inferface might work from the point of view of using it

1. from R to upload metadata (and simultaneously data to wherever it is being stored)
2. from C++ / Julia / Java / Python to make it easy to access the right (generally, but not always most up-to-date) version of t

[2020-05-11 12:18] jholloc commented on #156
@aaron-reeves are you and @IainM-BioSS on Zulip? That might be the best place to try and schedule a meeting.

[2020-05-11 12:30] aaron-reeves commented on #156
@jholloc No, not on Zulip.  It doesn't seem to recognize my GitHub account for login purposes.  Do I need to create another account?

Mondays through Thursdays are quite full for me during the day for the next few weeks, but I can meet on Fridays or any evening after about 5:30 PM.

[2020-05-11 12:56] jholloc commented on #156
How about 6pm tomorrow (Tuesday 12th May)? @alahiff @richardreeve can you also make this time?

[2020-05-11 13:23] IainM-BioSS commented on #156
Hi all,

Yes, 6pm tomorrow (12th) is fine for me.

iain

On 11/05/2020 13:56, Jonathan Hollocombe wrote:

--
Biomathematics and Statistics Scotland (BioSS) is formally part of The
James Hutton Institute (JHI), a registered Scottish charity No. SC041796
and a company limited by guarantee No. SC374831

[2020-05-11 13:31] alahiff commented on #156
That's also fine with me.

[2020-05-11 13:41] aaron-reeves commented on #156
Works for me.

[2020-05-11 13:48] johnnonweiler opened #176 "Clean up random number generation"
Rewrite the model to run in a repeatable manner, using a random number generator that starts with a seed passed in as a command line parameter.

[2020-05-11 13:49] johnnonweiler opened #177 "Isolation and quarantine following exposure"
Need to incorporate individual level isolation and quarantine following contact. So in the model people are challenged with infection when they are in the same place as an infectious person, need some way of keeping a tag on this.

[2020-05-11 13:50] johnnonweiler opened #178 "Model public transport"
Currently there is no travel in there, but some fraction will travel to work or shops or school via public transport. This requires some way of clustering people, because people will typically travel together with the same-ish people

[2020-05-11 13:52] johnnonweiler opened #180 "Add a range of business sizes to the model"
Currently businesses are the same size and so have approximately equal numbers of customers and workers. Business sizes and footfall should vary around some distribution.

[2020-05-11 13:52] johnnonweiler opened #181 "Model business opening hours and shift workers"
Currently businesses are open for set hours and staff work all those hours. We need an efficient way to vary this so people work shifts.

[2020-05-11 13:54] johnnonweiler opened #182 "Add care homes to model"
We're not sure how to include care homes in the model. Paul suggests that people are assigned to households as per now, but are permanently seconded to care home objects. Also need to consider the care home workers.

[2020-05-11 13:55] johnnonweiler opened #183 "Output where people become infected"

[2020-05-11 13:56] johnnonweiler opened #184 "Output the age groups of cases and fatalities"

[2020-05-11 13:58] johnnonweiler opened #185 "Clean up READMEs"
We should only have one README file.  (Please make one file, and review the contents.)

[2020-05-11 14:34] jholloc commented on #156
I'll try Google Meet for this, invite: https://meet.google.com/nfk-kcbx-eyc - 12th May @ 18:00

[2020-05-11 14:49] ianhinder commented on #152
661 iterations overnight with no crashes.  Looks like it's fixed!  I'll take a look at your branch.  Is it ready to merge in?

[2020-05-11 14:52] ianhinder commented on #99
Thanks!  I'll give it a try.  The MPI_Finalize error is a bit odd; I haven't seen that before.  I got the Operation Not Permitted as well when I ran simulations in my home directory.  It's a bit weird that you can't set the permissions.  It went away when I ran simulations on the RDS directory.  I wasn't sure if the script needed to be executable, which is why I didn't remove the -a.  If it works,

[2020-05-11 15:10] thibaud-porphyre commented on #171
Some of the utilities function and functions in DistanceComputation.cpp are not used since they are legacy from the original model (animal-based). This might create discrepancies between functions. For example, sse_calc and sse_calc_int are different. Please use function that are used in the current model.

[2020-05-11 15:24] johnnonweiler opened #186 "Add unit tests for Covid.java"

[2020-05-11 15:26] johnnonweiler opened #187 "Add unit tests for the simulation.imported.utils package"
Note that these utils have probably all been copied from the Contact-Tracing-Model project, and they may already be developing tests there (or might want any tests that we create).

[2020-05-11 15:27] johnnonweiler opened #188 "Add unit tests for the simulation.place package"

[2020-05-11 15:29] johnnonweiler opened #189 "Add unit tests for the simulation.population package"
Ideas of some things to include in checks (from Paul):

- Population size. Live + dead people should remain constant. However people are not necessarily constantly in their house, so this unit test needs to check all places where people can be.
- Epidemic doubling time. The time that it takes for the number of cases to double should be limited. Needs more thought, but at the very least we can put

[2020-05-11 15:33] johnnonweiler commented on #44
This overlaps with work on unit tests.

[2020-05-11 15:40] BlairArchibald commented on #103
The new populateHouseholds method has now been merged.

[2020-05-11 15:40] #103 closed

[2020-05-11 15:44] richardreeve commented on #156
Works for me. See you then.

[2020-05-11 15:44] WPettersson commented on #152
You can merge whenever, I'll keep cleaning up these warnings as I go. There are quite a few warnings left.

[2020-05-11 15:49] alysbrett commented on #156
I am available the so will come along too to try to help with the who's doing what on the technical set up and software side.

[2020-05-11 15:50] johnnonweiler commented on #176
Sam is now using an apache RNG in Contact-Tracing-Model.

[2020-05-11 15:51] #131 closed

[2020-05-11 15:51] #166 closed

[2020-05-11 15:52] alysbrett commented on #156
Issues #142 and #72 also relate to this broader plan being discussed, by the way

[2020-05-11 15:54] magicicada opened #190 "tag functions in use in current simulation vs not"
Some of the functions were for the version of the simulation without internal node states - these aren't really in use at the moment.  Simularly, functions for generating housholds and childcare-related contacts are not currently in use and it may be worth moving contact-simulating code to another file.  For now,  tag functions as CurrentlyInUse vs NotCurrentlyUsedByCoreModel

[2020-05-11 17:12] sdl1 commented on #3
Planning to do

in the appropriate constructor, this should at least reduce the number of inactive cells

[2020-05-11 20:19] ianhinder commented on #152
I've just compared the results of running for 1000 samples (without MPI) between the current master branch (bd74eee) and the dev/compiler-warnings branch (1350774).  The results are identical apart from a single line in bici0.txt.  The lines in this file are extremely long, but I already see differences at the beginning:
[code]
There are additional "|-"s between the elements.  Any ideas?

[2020-05-11 20:34] ianhinder commented on #152
git bisect says that the change was introduced in
[code]

[2020-05-11 20:36] WPettersson commented on #152
Oh, right, yes! Sorry, forgot about those. That's coming from 1350774f8aabdcb377873b03436e354f47e88ec8, and the '|-' are output in cases where a confidence interval cannot be ascertained. Those were just placeholders, I was going to work out what to do when we try to work out confidence intervals on such short lists. I can easily swap it back to do what the old code did, though.

[2020-05-11 20:37] ianhinder commented on #152
OK, let's do that, and can you create an issue to track the short list problem?

[2020-05-11 20:39] WPettersson commented on #152
I've pushed a commit to just go back to the old code to dev/compiler-warnings, and I'll make that issue now.

[2020-05-11 20:47] WPettersson commented on #152
Actually, on the merging comment, do you want me to do some squashing and cleaning up? Or do we not care too much about the merge history at this point?

[2020-05-11 20:51] WPettersson opened #191 "Determine correct behaviour for calculating confidence intervals if there is limited data"
The function `Chain::derivepl()` (currently in headers/derive.h) calculates confidence intervals of a list of data. However, it is not clear what the output should be if the list only contains one data point. Previously, the code would access invalid memory for such calculations leading to potentially unexpected results, however thanks to compilers being smart, the lower and upper end of the confi

[2020-05-11 21:04] ianhinder commented on #152
I wouldn't worry too much about it.  It's clear from the commits what's going on, I think.

[2020-05-12 08:53] #137 closed

[2020-05-12 08:55] claireh93 opened #192 "First attempts at data input"
We have created some fake data input files in HDF5 and TOML format to be read into the model to start setting up our data pipeline (available here: https://www.gla.ac.uk/research/az/boydorr/people/byname/richardreeve/ as Param.toml and ScotPop.h5)

[2020-05-12 08:57] claireh93 commented on #192
Param.toml has two parameters for beta_env and beta force (two transmission parameters), as well as their units in string form - which we should find some way to convert. Scotpop.h5 has the population data for Scotland used in some of the examples, so should be fairly straightforward to import.

[2020-05-12 08:59] bobturneruk opened #193 "Decide how to handle unused code blocks"
Options include:

- log commit hash of `mater` prior to merging in deletions
- make a separate branch to hold a version containing the unused code
- reply on it being in an upstream repo.

Does depend a bit on likelihood of needing them again and how soon.

Any thoughts? Type below...

I think this is managed now with the file split to network_of_individuals vs networks_of_population?

[2020-05-12 09:18] peter-t-fox commented on #172
Okay, is it possible for you to ask him about its source?

[2020-05-12 09:22] #190 closed

[2020-05-12 09:44] #98 closed

[2020-05-12 09:51] #77 closed

[2020-05-12 10:00] bobturneruk commented on #105
Useful https://github.com/github/gitignore/blob/master/Python.gitignore

[2020-05-12 10:13] bobturneruk commented on #105
@magicicada - should `withAges.pdf` be part of the repo. as an example output, or should it be removed + ignored as other `.pdfs`?

[2020-05-12 10:33] johnnonweiler commented on #43
Review (in particular) any code marked 'bodge' or 'fudge' - these are mostly about where we need to use good parameters.

[2020-05-12 10:34] paulbessell commented on #181
Currently, business opening and lcosing hours are defined in the CommunalPlaces and its daughters as the startTime and endTime and opening days are defined bu the startDay and ednDay variables. All business are active for those hours and people that work at the businesses work for these hours. In reality, particularly for shops, restaurants and hospitals people will work variable days and shifts.

[2020-05-12 10:40] johnnonweiler opened #194 "Improve disease stages"
There is some ongoing discussion about the disease stages amongst people working on the different models.  Following this discussion, and work by the data team related to parameters for different stages, the stages used in Covid_Simulation_Model should be updated.

[2020-05-12 10:41] johnnonweiler opened #195 "Improve population and demographic parameters"
The population and demographic parameters need improving to reflect real populations.

[2020-05-12 10:42] johnnonweiler opened #196 "Improve model of community contacts"
Community contact rates require further parameterisation with published data.

[2020-05-12 10:48] johnnonweiler opened #197 "Improve model of school lockdown"
See `setSchoolLockdown()` in Population.java.

[2020-05-12 10:51] johnnonweiler opened #198 "Review how to model people going into quarantine"
See `quarantineProb` in Person.java .

[2020-05-12 10:56] johnnonweiler opened #199 "Target Java 11"
Ensure the project can be built with Java 11 (i.e. by changing build target in project settings, and changing a switch statement in `Population.java` to not use the new `->` notation).

[2020-05-12 10:58] johnnonweiler opened #200 "Use an enum for household types"
See `nType` in Household.java

[2020-05-12 11:27] magicicada commented on #105
@bobturneruk withAges.pdf should be removed and ignored

[2020-05-12 11:35] magicicada opened #201 "Add function to generate a time series output file."
We need a function that takes our dictionary of states and generates a file that has (for now)
Node,compartment,number_at_time0,number_at_time1,number_at_time2,....

Likely to be replaced by better log file format later, but need something working now to get the model parameterised.

[2020-05-12 12:52] nathan-cummings-ukaea commented on #74
I've got some tests for this issue. I still need to figure out the best way to hook them in but I wanted to mention, there is a member of the management team "ruthdXXX" that is not in the people.toml file. There is a "ruthhXXX" so it may be a typo but this person is likely not on the management mailing list currently either way.

[2020-05-12 13:29] #105 closed

[2020-05-12 13:48] paulbessell commented on #178
Currently we model people travelling to work but not how they travel. Could we incorporate some sort of mode of transport to and from work places and have people mixing on this. It would most likely be best mmodelled as another CommunalPlaces Class, with some probability thta each Person uses public transport

[2020-05-12 13:49] paulbessell commented on #180
Currently business sizes are defined in the Population.createMixing() method, all business are similar size such that when people are assigned a workplace if they are designated as an office worker they are equally likely to be assigned to any office. In offices are different sizes, so the probabilities should vary

[2020-05-12 13:54] paulbessell commented on #177
This is not an easy thing to model. Need to attribute a tag to people when they are chellenged with infection and then do tracing and isolation based some probability of self-isolation.

[2020-05-12 13:58] #201 closed

[2020-05-12 14:33] bobturneruk commented on #107
This function is the current interim output for simple_network_sim and relates to this issue https://github.com/ScottishCovidResponse/simple_network_sim/blob/d8c47fa621e7c47576f026330d2076c308d29cdd/simplestNetworkSim_covidAdapted.py#L295

[2020-05-12 15:25] aflag commented on #106
I have done some reading and @magicicada has helped me understanding the code and giving ideas on how to test it.

My suggestion is that we start off by creating a simple **regression test** on basicSimulation. For this, I suggest we pass in the random generator (`random.Random`) as a parameter of basicSimulation. Alternatively, we could make basicSimulation competely deterministic by receiving a

[2020-05-12 17:06] aaron-reeves commented on #156
Is anyone else in Google Meet?

[2020-05-12 17:07] jholloc commented on #156
Hi. Try connecting again, i didn't get a request for you to join.

[2020-05-12 18:24] aaron-reeves commented on #156
@alahiff This is the wrong place, but I can't find any other good way to get in touch.  Attached is a screen shot showing the Zulip error message.  I was prompted to log in with my GitHub credentials and did so.  This was the result.  I've now tried several browsers, including a fresh incognito window as @jholloc  suggested, with the same outcome.

![zulipError](https://user-images.githubuserconte

[2020-05-12 18:39] aaron-reeves commented on #156
@jholloc I've put an image and an SQL script showing preliminary thoughts about a database schema on the Teams site.  If, after we've had a chance for a proper discussion, we think it's worthy of including in the GitHub repository, we can add it there, but that conversation is, I think, an essential first step.

[2020-05-12 19:22] alahiff commented on #156
@aaron-reeves I think you just need to click `Continue to registration`. You should then be redirected to GitHub where you will need to authorise Zulip, then you'll be redirected back to Zulip.

[2020-05-12 23:07] AlexRobson commented on #192
Something like this may work.

[code]
I can implement this (haven't looked at the h5 yet). Would this be a test case?

[2020-05-12 23:09] AlexRobson commented on #192
Also, in my WIP I'm setting up DataDeps for version control. Test files like this can justifiably be added to git, but for larger data files it may be worth looking at that for reproducability.

[2020-05-13 07:44] bobturneruk commented on #106
Great work @aflag! I'm happy with this - I suggest that we follow this guidance and @aflag raises an issues on regression testing and unit testing and gets going on regression testing initially. Bringing in some zulip chat, I think we also need an issue on virtual environment, this should be anaconda based. I'll raise this if no one else gets there first!

@aflag any thoughts on how this might wor

[2020-05-13 07:51] bobturneruk opened #202 "Create a virtual environment"
- Create a conda environment (`.yml` file) for this project
- Add instructions to `readme.md` on how to use it to create a virtual environment in which to run the code

[2020-05-13 07:57] bobturneruk commented on #202
Might look a bit like:

[code]

Probably with more specific dependencies.

readme gets:
[code]

[2020-05-13 08:37] aflag commented on #106
In terms of CI, the tool I have most experience with is jenkins, but I don't think it's a good fit here. I have worked with circle ci in the past and I like it, but I'm open to try github actions. I like the idea of minimising external dependencies.

[2020-05-13 08:46] bobturneruk commented on #106
Not used circle, agree on jenkins. I think you'll like GH actions!

[2020-05-13 09:24] AlexRobson commented on #148
I'm looking at this issue and trying to understand what's involved.
 Is the proposal here to:

1)  add a new matrix to `EpiLandScape` for the viral and human populations. Let's just call it `matrix_h` and `matrix_v` for the sake of discussion: https://github.com/ScottishCovidResponse/Simulation.jl/blob/dev/src/Epidemiology/EpiLandscape.jl#L7

[code]
2) Update relevant functions such for the virus

[2020-05-13 09:28] AlexRobson commented on #148
More broadly is the issue (not this issue, but raised here) in terms of adding new virus classes that `matrix_v` will not be sufficient (we would need (for discussion sake a `matrix_v_18to25`, `matrix_v_26to39` etc as new categories get added. So the design issue in gracefully increasing the number of these matrix compartments. (apologies for any catastrophic misunderstanding here!)

[2020-05-13 09:28] claireh93 commented on #81
Closed with ScottishCovidResponse/Simulation.jl#26

[2020-05-13 09:28] #81 closed

[2020-05-13 09:34] aaron-reeves commented on #156
@alahiff Yes, that was sufficient.  For some reason, I was expecting the integration to be a bit tighter between GitHub and Zulip, but that was my misunderstanding.  Thanks!

[2020-05-13 10:19] claireh93 commented on #148
Hi Alex,

Yes this is exactly it, so this would allow us to not have to search for where the S class starts and probably save lots of headaches in the future!

This is an interesting point, I think I was envisioning that the axis of the matrix_v would grow per how many age classes there are. So we would have a M by N matrix, where M is num category and N is num grid cells, for Virus being produced

[2020-05-13 10:22] claireh93 commented on #192
That looks great! I had a discussion with @richardreeve  the other day about DataDeps - I can't say I fully understand how it works, but it sounds really useful and we would be keen to start using it here.

[2020-05-13 10:26] peter-t-fox opened #203 "Run code through cppcheck"
The only static analysis performed currently is via the standard GCC warning checks. It would be good to run the whole repository through `cppcheck`, and (optionally) integrate it into the Actions.

[2020-05-13 10:28] alysbrett commented on #72
As discussed in yesterday's meeting, Django is not set in stone but something like this could cover the database, web views/forms and REST API generation needed.

[2020-05-13 10:28] claireh93 opened #204 "Documentation improvements"
It would be really useful to have some more advanced docs, something like: https://richardreeve.github.io/Diversity.jl/latest/
with a link to the latest/dev version on the GitHub front page.

For now this could be built based on the information in README and Structure.md / Design.md, although incorporating installation instructions from #17 would be handy too.

[2020-05-13 10:30] claireh93 commented on #204
Incidentally, does anyone know an easy way to write equations for GitHub docs? It seems like it doesn't pick up latex style syntax, and so my solution so far was to use a python tool that automatically converted my equations to svgs and included them in Structure_gh.md. But I feel like surely there must be a simpler way to do this!

[2020-05-13 10:33] alysbrett opened #205 "Pool thoughts on data infrastructure technical requirements and solutions"
Action from meeting 2020-05-12

We decided to use the Github wiki in the data-registry repository for this

[2020-05-13 10:36] thibaud-porphyre opened #206 "Change fitting process to account weekly number of deaths"
Daily mortality records are very uncertain due to lack of reporting in Monday/Tuesday. this affect the quality and speed of the inference. Aggregating records over weeks would improve confidence in inferences.

[2020-05-13 10:37] #206 closed

[2020-05-13 10:38] alysbrett commented on #142
In the meeting on 2020-05-12 it was agreed that @jholloc will be the technical lead for implementation of the data infrastructure.

The ongoing data manager / curator role would be best done by someone within the domain rather than a temporary RAMP collaborator. There are people curating data for the various major sources we will work with but we need someone doing this overall for the coalition.

[2020-05-13 10:40] thibaud-porphyre opened #207 "Epidemiological process to be simplify"
There was a mistake in which frailty measure to be used in the model. Correct values did not improve fitting performance and show lack of power to infer some parameters. The epi process needs to be simplify to improve inference quality and speed.

Note that the regression tests will need to be updated for this when it is done.

[2020-05-13 10:56] aflag opened #208 "Create regression test"
My suggestion is that we start off by creating a simple regression test on basicSimulation. For this, I suggest we pass in the random generator (random.Random) as a parameter of basicSimulation. Alternatively, we could make basicSimulation competely deterministic by receiving a list of first infected people as a parameter (maybe this is not realistic as the function may have other sources of rando

[2020-05-13 10:57] aflag opened #209 "Create unit tests"
After that one is done, we can move forwards with more unit testing. For that, we could start by testing simple tests for the the data loading functions. We can change them slightly so that we pass a file object instead of the file name, so that we can easily create fixtures. Given that we expect changes in the input format soon, I believe it's nice to have tests on these. We can also make simple

[2020-05-13 11:08] AlexRobson commented on #192
Cool - I'll make a sketch of how we could use it then.

[2020-05-13 11:10] AlexRobson commented on #148
Oh that makes sense. My reading of that then is that It's just different classes of the virus in the way that there are different classes of the human population. So a `matrix_v_<age>` wouldn't be needed, it'd have it's own class label in `EpiList`.

[2020-05-13 11:34] BlairArchibald commented on #43
Merged in 55fad4412d211a6e994f681d5ccad175bf875a59

[2020-05-13 11:34] #43 closed

[2020-05-13 11:39] #174 closed

[2020-05-13 11:45] alysbrett opened #210 "Find a contact who can explain how LSHTM model is intended to be run"
@kzscisoft said today that he has been able to run the model but is not sure if what he is running is the full thing or just some limited demo. If we have any contacts with the team behind the model or anyone else who has worked with it at all it would be useful to have someone to ask questions about intended usage and related things like the relevance of some unavailable files that appear to be n

[2020-05-13 12:10] #140 closed

[2020-05-13 12:45] thibaud-porphyre opened #211 "bug fix on background transmission"
Background transmission is posing a constant issue and may create crashes. these is likely to be due to a combination of (1) not the correct population of interest being sampled (solved), and (2) issue on the random number generation procedure.

[2020-05-13 13:03] claireh93 commented on #3
Closed with ScottishCovidResponse/Simulation.jl#32

[2020-05-13 13:03] #3 closed

[2020-05-13 13:07] claireh93 opened #212 "Fix up examples"
Trim down examples to two analysis scripts; Scotland and UK. Check parameters and outputs for both.

[2020-05-13 13:09] claireh93 opened #213 "Integrate benchmarking into travis"
Following discussion in weekly meeting, try out incorporating benchmarking into travis and check how output timings compare to manual benchmark runs.

[2020-05-13 13:21] claireh93 opened #214 "SCRC shortcut"
SCRCIssueTracking shortcut doesn't seem to link through to issues properly from PRs (i.e. for closing issues), or for commits.

[2020-05-13 13:43] jholloc commented on #156
@alysbrett clicking on https://github.com/ScottishCovidResponse/data-registry/wiki doesn't seem to work for me, do you need to add a wiki to the project before I can edit it? I don't see repo settings so i'm getting this needs to be done by an admin.

[2020-05-13 13:45] jholloc commented on #156
OK, never mind. It has randomly started working now.

[2020-05-13 13:50] alysbrett commented on #156
That's because I just added you to the right team in Github to have write permissions on the repo. Sorry.

[2020-05-13 14:39] jholloc commented on #156
@alahiff could we get a VM at STFC for this? We should just need port 80 and 443 open to it.

[2020-05-13 14:43] bobturneruk commented on #208
So looking at this again, unless I'm missing something, it seems [basicSimulation](https://github.com/ScottishCovidResponse/simple_network_sim/blob/d8c47fa621e7c47576f026330d2076c308d29cdd/simplestNetworkSim_covidAdapted.py#L273) is not currently in use. Do we want [basicSimulationInternalAgeStructure](https://github.com/ScottishCovidResponse/simple_network_sim/blob/d8c47fa621e7c47576f026330d2076c

[2020-05-13 15:10] alahiff commented on #156
@jholloc I have setup a VM and put in a request for ports 22, 80 and 443 to be opened.

[2020-05-13 15:19] magicicada opened #216 "Code to produce plots by each node from the file format output by basicReportingFunction"
Ideally, two functions, one that takes as parameters:
(1) dictionary in the format that we use for storing model run output (e.g the input to basicReportingFunction) - ask if you need more specification for this
(2) A list of nodes, each of which should get its own plot
(3) A list of state names, each of which should get its own line on each plot
(4) a filename to save the grid of plots to

The se

[2020-05-13 15:29] magicicada opened #217 "Read an age-mixing matrix"
We have an age-mixing matrix in format visible in sample_20200327_comix_social_contacts.sampleCSV
that gives mean number of contacts per day from one age band (the row labels) to another age band (the column labels).  I would like a function that reads a file in this format and returns a nested dictionary indexed by tuples that describe the age ranges and with values that are the floating-point co

[2020-05-13 15:32] claireh93 commented on #83
Hi @cpfiffer, sorry this issue has slipped through the cracks somehow but we would definitely be keen to pick it up again! I believe there have been some discussion about this on Zulip between @richardreeve and @eperim - perhaps we could arrange a meeting to discuss this further?

[2020-05-13 15:36] magicicada commented on #134
We have an age-mixing matrix in format visible in sample_20200327_comix_social_contacts.sampleCSV
that gives mean number of contacts per day from one age band (the row labels) to another age band (the column labels). I would like a function that reads a file in this format and returns a nested dictionary indexed by tuples that describe the age ranges and with values that are the floating-point con

[2020-05-13 15:38] magicicada commented on #217
Accidentally duplicated an issue

[2020-05-13 15:38] #217 closed

[2020-05-13 15:58] johnnonweiler commented on #44
We now have a test that 'checks something about the results' in RunModelTest.java, and also a task to write unit tests for the population package.  We don't have tests (or a task/issue) for much of the code in RunModel, but perhaps this is going to be replaced with a different way of running simulations.

[2020-05-13 16:06] #211 closed

[2020-05-13 16:07] kzscisoft opened #218 "Determine file sourcing structure in LSHTM model"
Need to understand how the file sourcing structure works. The files refer to other files contained in a location not included in the repository so code should technically work!

[2020-05-13 16:09] kzscisoft opened #219 "Find out at what stage the LSHTM model is actually at"
File structure seems to suggest inference is in development,  a better understanding of what stage the model is currently at would be of benefit.

[2020-05-13 16:11] #44 closed

[2020-05-13 16:20] thibaud-porphyre opened #220 "Fix stability issue of gsl_ran_multinomial function"
seeding the model using the background spread function would introduce disease within population at risk. The number of new infection is sampled among susceptible individuals in each age class as a multinomial random pick. This pick works for most of the simulation but may get stuck at the first step of ABC-smc for some unknown reason, slowing down the selection process.

Problem is around line 57

[2020-05-13 16:53] peter-t-fox opened #221 "Infspread function is order-dependent"
Order in which calculations are performed in infspread affects the outcome e.g.

[code]

Need to check if this is an issue or not. If not, at least we should document the "canonical" order in which the calculations are performed.

[2020-05-13 17:10] alysbrett opened #222 "Find a second software engineer to work on model reconstruction"
So far only @kzscisoft is looking at understanding how to run the two existing models we wish to cross-validate ours with and it would be useful to have a second person to work on this area. The existing models are in C/C++.

This could be alongside work on another project as work is not well scoped out yet and is likely to be stop-start

[2020-05-13 19:00] aflag commented on #202
I made a PR for this. I've created a spec-file.txt (https://docs.conda.io/projects/conda/en/latest/user-guide/tasks/manage-environments.html#building-identical-conda-environments), since that would give us a way to try and make builds more reproducible (although it ends up being system-dependent). Unfortunately, conda doesn't have something like Pipfile.lock (https://pipenv-fork.readthedocs.io/en/

[2020-05-13 19:41] eperim commented on #83
That sounds great for me. It would be perfect if there was enough of a heads up, as I need to go over the structure of the code more carefully and with this in mind to be more helpful.

[2020-05-13 20:57] WPettersson commented on #134
I've done some work on this on a [branch in my repo](https://github.com/WPettersson/simple_network_sim/blob/issue-134-read-age-class-mixing-matrix/mixing_matrix.py) but it might be over-engineered, so just looking for feedback as to whether it's going to be too complicated to be useful. If so, I'll scale back to just a dict-of-dict type approach. The advantage I see of what I've got is that it can

[2020-05-13 21:05] #199 closed

[2020-05-13 21:07] johnnonweiler commented on #102
After my comment earlier about possibly speeding up the use of ‘PoissonDistribution’, I had a quick look at reusing objects, instead of recreating the ‘PoissonDistribution’ objects for every new sample.  It seemed like it was probably a bit faster, but didn’t make a big difference.

https://github.com/ScottishCovidResponse/Covid_Simulation_Model/pull/17

[2020-05-13 21:07] cpfiffer commented on #83
Sure, I'm happy to help to whatever extent I can! I'm also lurking around on Zulip if you've got question or want to set up a time.

[2020-05-14 07:28] #168 closed

[2020-05-14 07:49] #202 closed

[2020-05-14 07:55] bobturneruk opened #223 "Delete data_dictionary.txt"
This file has been superseded by `data_dictionary.md`.

[2020-05-14 08:41] aflag commented on #208
There's a single call for random, which is selecting the first people that will be infected in the current code. As far as I know, only  basicSimulationInternalAgeStructure is currently in use, not  basicSimulation. My idea here was to add this test with the least amount of changes to the actual code, but I plan on making basicSimulationInternalAgeStructure take an instance of Random as a paramete

[2020-05-14 09:08] bobturneruk commented on #208
Fanstastic! Thanks!

[2020-05-14 09:30] nathan-cummings-ukaea commented on #74
Ok, I have set up the GitHub action to run the tests when a push is made. It appears to be working and has picked up an issue. @alysbrett you may be missing from one of the project mailing lists. Hopefully what I've done is ok. If so, this issue can be closed.

[2020-05-14 09:33] nathan-cummings-ukaea commented on #74
Specifically, the data.toml looks like the culprit.

[2020-05-14 09:46] #208 closed

[2020-05-14 10:14] peter-t-fox opened #224 "Original README issues"
There were a set of issues originally documented in the README file. It's not clear if they are still problems, but they are listed here so that we don't forget about them:

- [x]  Issues in initiating simulations (can require multiple restarts) - now fixed with the closing of issue #220
- [ ]  Multithreading via OpenMP not working on macOS
- [x] Because of memory allocation limits for structures,

[2020-05-14 10:35] peter-t-fox opened #225 "Validate observational data"
At present, no validation of input data is performed. Things that should be done include:

* Consistency checks between different data sets e.g. that observation time series are the same length
* Age groups: Each data set should have the same number and type of age groups
* Health boards: Each data set should have the same number and type of health boards

If these checks are performed once at inp

[2020-05-14 11:01] kzscisoft opened #226 "Swap Out Hard Coded Data in LSHTM Model?"
Currently a lot of data used by the LSHTM is hard coded (no separate data files but rather the data strings are defined within the main `UK.R` script). Might be a good idea to replace these few lines with external imports especially if we plan on using our own data. Even if we plan to only change the parameters layout wise this would be "tidier" and easier to follow.

[2020-05-14 11:08] kzscisoft opened #227 "Ensure all source files pass CppCheck in EERAModel"
CppCheck is to be implemented into the GitHub actions CI (see #203), during the testing of this addition a couple of files (e.g. `src/IniFile.cpp`) raised issues.

[2020-05-14 11:20] alahiff commented on #156
@jholloc The VM is ready, please send me your public ssh key. Do you want me to install anything?

[2020-05-14 11:26] peter-t-fox opened #228 "Move health board data extraction out of `Model::Run`"
At present, the philosophy in the code is that all observational data (cases, deaths, etc.) are fed into the `Model::Run` fuction, and it extracts the data pertaining to the specific health board of interest. For example:

* The `ComputeAgeNums` function determines the age structure for the health board, but this should be detemined by the set up code and the result passed in instead.
* The `selec

[2020-05-14 11:34] kzscisoft commented on #227
Resolved with a simple `{}` to initialize new `Record`, see branch `kzscisoft/cppcheck-pass`

[2020-05-14 11:50] AlexRobson opened #229 "Handling data dependencies and reproducability"
Within `Simulation.jl` there are various data dependencies that may change as different versions of these data appear.

There are however probably two uses cases:

* One scenario is the 'get me the exame same version always'). DataDeps can sort out getting a file dependency onto a local set-up (such as from a website). Checksums are used to validate the file. In this scenario, datadeps is goof for

[2020-05-14 12:08] jholloc commented on #156
@alahiff I guess we will need PostgreSQL. Also, if you could install the Django python package I can start looking into it.

[2020-05-14 12:18] bobturneruk opened #230 "Move comments to docstrings"
Many of the functions in `simple_network_sim` are preceded by useful comments explaining what the function does. I propose that these are converted into "docstrings" and that the [sphinx docstring format](https://sphinx-rtd-tutorial.readthedocs.io/en/latest/docstrings.html) is adopted (this is a simple, well understood format).

This will:
- Ensure a minimum level of documentation is consistently

[2020-05-14 12:19] bobturneruk commented on #230
Relates to SCRC-113

[2020-05-14 12:23] jholloc commented on #156
@alahiff SSH public key:

ssh-rsa AAAAB3NzaC1yc2EAAAABJQAAAQEAkvrBFtViwXAHgQJMLArn/DCd9NrR4evPbegL83EJvWz3P1F7YM0ecbh8Nx4IoRxTX4zLqbJtNsuxd8p47/48V7xJdBpKHtqeALZv4Xo1G5CTnerWHYc7aapdDhyUJRC96a2VYDKmLsstDuSyKGXNGZ8xKPHPuI0KZapORQeCowFjXrDzJ3EvDxnXdO3KEBpgqs0yrh9VPLdyVlDC+GpObSs7kPdmxka9tsg+vbkkzgHbypQat1OHAVCOlh3jHDQSTYmPBvqDCEiSUCWIGqAWeU2ODSUzYYaaw3zQ8KLb/6Am6rzeCJVF6gQwsCuhP5f3kZ7TW2Ak0V9Oy+1X4R

[2020-05-14 12:25] bobturneruk commented on #230
@magicicada and @aflag - happy with this in prinicple?

[2020-05-14 12:26] bobturneruk opened #231 "Documentation of existing undocumented functions"
Our aim is that all functions will be documented.

[2020-05-14 12:26] bobturneruk commented on #231
Relates to ScottishCovidResponse/SCRCIssueTracking#230

[2020-05-14 12:28] alahiff commented on #156
I've installed Django and PostgreSQL.

[2020-05-14 12:31] sdl1 commented on #229
It could be good to have all this stuff defined in a separate lightweight package, both for ease of maintenance and for re-usability across different julia projects.

[2020-05-14 12:34] aflag commented on #109
I have some experience with spark and azure batch jobs. Do we know what kind of options are open to us? Do we have an AWS account or something like that?

[2020-05-14 12:38] bobturneruk commented on #114
Chat on Zulip suggests GitHub actions is OK to start with. Now we have @aflag's excellent regression testing I suggest we:

- Set up GitHub actions
- Make it run when a pull request is made
- Make a successful run a criteria for merging to `master`, in addition to the current code review
- Make it use our conda environment for execution (ideally `spec-file.txt`, but `environment.yml` fine for now)

[2020-05-14 12:39] bobturneruk commented on #114
@aflag and @magicicada does this sound OK?

[2020-05-14 12:54] kzscisoft commented on #173
Turns out only one function `sse_calc_int` is actually used in these files, all the rest can be scrapped

[2020-05-14 13:03] peter-t-fox commented on #173
@thibaud-porphyre Do you have an opinion about this? Is there any chance you will need these functions again in the future, or is it a safe bet that only `sse_calc_int` is required?

[2020-05-14 13:03] #227 closed

[2020-05-14 13:07] BlairArchibald commented on #183
I'll pick this up, I've added some supporting code for tracking stats objects in a previous pull request so this should be easy to do.

[2020-05-14 13:19] kzscisoft opened #232 "Implement Gcov into compilation of EERAModel"
Adding the `--coverage` flag to compilation of the model with `g++` gives further information relating to inheritance which could be useful for tracking down stale/unused code objects. See:

https://gcc.gnu.org/onlinedocs/gcc/Invoking-Gcov.html#Invoking-Gcov

[2020-05-14 13:25] johnnonweiler opened #233 "Could use another Java developer"
We could use another experienced Java developer (with a significant proportion of their time available) to help with some of the core work on the Covid_Simulation_Model project (and potentially help out with the Contact-Tracing-Model too).

(There are also specific issues, marked "Find someone", suitable for Java developers joining on a more adhoc basis.)

I'm adding this issue following @alysbret

[2020-05-14 14:01] kzscisoft commented on #173
@peter-t-fox I noticed that this also seems to be the case in Utilities too, I think to be cautious maybe I should switch to Templates for both as opposed to deleting?

[2020-05-14 14:16] peter-t-fox commented on #173
@kzscisoft Don't worry about it. I would:

* Only keep the code that is actually used
* Delete any unused functions
* If you wind up with only a single function left in DistanceComputation, I would move that function into Utilities and delete the DistanceComputation files. There's no point in having a dedicated module for a single function which is effectively a utility anyway.

We can always retr

[2020-05-14 14:28] magicicada commented on #134
I like it, and think it will be useful to this model.  It's maybe a bit much for this, but particularly as it's a standalone bit of code that's not really a problem as I see it.

[2020-05-14 14:41] kzscisoft commented on #173
@peter-t-fox Ok I am going to close the pull requests I have open at the moment and combine this with the work I am doing on Utilities

[2020-05-14 15:43] ianhinder commented on #145
The original problem with nondeterministic crashes when running on macOS appears to have been solved when the code in the confidence interval calculations was [corrected](https://github.com/ScottishCovidResponse/CoronaBICI/commit/1350774f8aabdcb377873b03436e354f47e88ec8); this also fixed valgrind errors.  Closing ticket.

[2020-05-14 15:43] #145 closed

[2020-05-14 15:55] ianhinder opened #234 "Uninitialised variable i in init.h"
Commit [092fda94f](https://github.com/ScottishCovidResponse/CoronaBICI/commit/092fda94f0d49316bd4a5d490bafa8baab33815e) removed a line initialising a variable, but the variable is still used.  This looks like an error.

[code]

[2020-05-14 16:09] chrispooley commented on #234
Dear William,

Thank you very much for spotting this erroneous line deletion. I have no idea how that happened!

Cheers

Chris

[2020-05-14 16:09] #234 closed

[2020-05-14 16:29] ianhinder opened #235 "UK input file fails with error after initialising"
When running UK_bici_input.xml, there is an error after all the individuals are initialised:
[code]

[2020-05-14 16:31] ianhinder opened #236 "Possible typo in output.h"
output.h contains a complex constant 45174i which is almost certainly not what was intended, causing compilation failure with the intel compiler.  This was introduced in [814f1a18 ](https://github.com/ScottishCovidResponse/CoronaBICI/commit/814f1a18).

[code]

[2020-05-14 17:03] chrispooley commented on #236
This typo has been corrected.

[2020-05-14 17:03] #236 closed

[2020-05-14 17:13] alysbrett commented on #233
Thanks. For the record, John and I + others have been discussing overall supply and demand for Java software engineers in a Zulip chat this afternoon and will use that to keep track of progress towards filling this request.

[2020-05-14 17:21] alysbrett commented on #74
Thanks very much @nathan-cummings-ukaea . I fixed me in data and Ruth in management so hopefully it will pass now!

[2020-05-14 17:24] wytbella commented on #123
Is the "bottleneck" here "time" bottleneck? If you want to check the "memory" bottleneck, we have to consult to other pkgs.

[2020-05-14 17:25] alysbrett commented on #74
It would be really great if the email on failure had the actual error in it (ie the pytest output in this case) but no idea if that's easy or hard. And if the pytest output has any options to be less verbose so the actual assertion error is what you see in the email without much else that would be even better!

Only if it's easily done though - works fine as is and will get used to spotting the pr

[2020-05-14 18:27] nathan-cummings-ukaea commented on #74
Yep, the tests pass as of your last commit so that’s great. I agree the test output isn’t great. I imagine it’s fairly straightforward to improve it. I’ll take a look. I bet you can make the content of the email more useful as well. I’ll let you know when I figure out how. It would be useful to know for future reference even if it isn’t strictly necessary here.

[2020-05-14 21:01] vinopm commented on #54
https://github.com/ScottishCovidResponse/Contact-Tracing-Model/pull/7

[2020-05-14 21:02] vinopm commented on #125
https://github.com/ScottishCovidResponse/Contact-Tracing-Model/pull/7

[2020-05-14 21:02] vinopm commented on #126
https://github.com/ScottishCovidResponse/Contact-Tracing-Model/pull/7

[2020-05-14 21:02] vinopm commented on #129
https://github.com/ScottishCovidResponse/Contact-Tracing-Model/pull/7

[2020-05-15 07:48] peter-t-fox opened #237 "Split build into library and executable"
Build of code needs to have two targets: one for the library code, and one for the model executable. This will allow the library code to be linked against the unit tests.

[2020-05-15 08:22] thibaud-porphyre commented on #173
Sorry guys. I have been busy yesterday on other things. see_calc_int is likely to be use now. However, once we have more data from the consortium, I might have to use additional observation data to drive the inference. I cannot saw, then, if I will use them or not. However, as you mentioned, these can be easily retrieve at a later stage

[2020-05-15 08:26] kzscisoft commented on #173
@peter-t-fox Are we ok to now close this issue?

[2020-05-15 08:46] #237 closed

[2020-05-15 08:48] #173 closed

[2020-05-15 09:07] BlairArchibald commented on #200
Merged in 950fa8b6f3d4cd357ed43d03a7cb750942aa2a2c

[2020-05-15 09:07] #200 closed

[2020-05-15 09:20] kzscisoft commented on #120
I have narrowed this down to `CMAKE_THREAD_LIBS_INIT` is an empty variable which explains why the number of arguments is incorrect, the variable is stated but it is not given a value.

[2020-05-15 09:26] kzscisoft commented on #120
Quote from https://gitlab.kitware.com/cmake/cmake/issues/19823:

"The CMAKE_THREAD_LIBS_INIT variable and corresponding Threads::Threads INTERFACE_LINK_LIBRARIES target property is the empty string for the case when the (Posix) threads functions are provided by the C library.  According to a second-hand report I received this case happens on Mac OS X (at least for MacPorts). Therefore, please docu

[2020-05-15 09:27] thibaud-porphyre commented on #207
Model is now simplify. It account for capacity of beds in hospital dedicated for COVID. Some of the information is currently hard coded. Parameters.ini need to be changed accordingly.

[2020-05-15 09:30] kzscisoft commented on #120
Fixed using:

[code]

from https://stackoverflow.com/questions/54587052/cmake-on-mac-could-not-find-threads-missing-threads-found, however we now have new build issues:

[code]

[2020-05-15 09:49] kzscisoft commented on #120
Someone has opened a pull request on Google Test to fix this, maybe we can clone the repository and build GoogleTest that way and merge this in?

https://github.com/google/googletest/pull/2736/files

[2020-05-15 09:55] vinopm opened #238 "Bug in PopulationGenerator(Test).java"
When I run the testCreateCumulative() test within PopulationGeneratorTest.java it non-deterministically fails.

I created another test to run this test 10000 times and I'm able to consistently produce the failure.

`@Test
    public void testManyTimes() {
        for (int x = 0; x < 10000; x++) {
            testCreateCumulative();
        }
    }`

`java.lang.NullPointerException
	at uk.co.ramp.p

[2020-05-15 09:57] kzscisoft commented on #120
I can confirm using the above fix on Google Test everything works under Mac OS 10.14

[2020-05-15 10:05] sam-brett commented on #238
It's a one line fix:
``
            // if we overflow 1, end here with 1
            // or put 1 in the last place.
            if (sum > 1d) {
                var.put(i, sample);
                cumulative.put(i, 1d);
                bins=i;
                break;
            } else if (i == bins - 1) {
                var.put(i, 1 - sum);
                cumulative.put(i, 1d);
                br

[2020-05-15 10:08] johnnonweiler commented on #187
We should check which of these imported classes are actually being used, and remove the ones that aren't.

[2020-05-15 10:19] BlairArchibald commented on #184
Also should be easy to add with the new statistics interface

[2020-05-15 10:34] vinopm commented on #187
As discussed, I'll pick this up

[2020-05-15 10:54] alysbrett commented on #74
Do close this once you've decided whether to tweak the test output.

[2020-05-15 10:58] sdl1 commented on #204
Quick question @claireh93 , is the only difference between `Structure.md` and `Structure_gh.md` the equation formatting? If so I'll probably just keep `Structure.md` for this PR, and try to make the equations format nicely in the rendered docs (so they probably won't work viewing directly in GitHub, but that shouldn't be a problem once the hosted docs are up)

[2020-05-15 11:01] claireh93 commented on #204
Hi Sean, yes they are no different in terms of content and that sounds ideal about the hosted docs - will make life much easier for keeping them updated - thanks!

[2020-05-15 11:29] kzscisoft commented on #203
I think we can close this one too!

[2020-05-15 11:59] #223 closed

[2020-05-15 12:17] aflag commented on #114
Sounds great. If we are also able to get a coverage report after the run it would be very nice too

[2020-05-15 12:20] bobturneruk commented on #114
I think the coverage info. generated by pytest will be in the CI logs, could be pushed somewhere automatically. Have you any experience of using https://codecov.io ?

[2020-05-15 12:52] johnnonweiler commented on #185
I'm assigning Blair to this because he seems to have mostly done it already!

[2020-05-15 12:59] johnnonweiler commented on #52
I think we should perhaps include a manual step in our release process of checking all the bits in the code where it says, "TODO".  (We want to be confident that what we are releasing is ok.)

[2020-05-15 13:23] BlairArchibald commented on #185
@paulbessell Can you please add the "Background" section to README.md describing a bit about the modelling approach/limits/uses from an epidemiological perspective?

We should remove the old README file (non Markdown). Could someone with repo rights do this, it's not worthy of a pull request.

[2020-05-15 13:24] BlairArchibald commented on #184
Merged in 26281869

[2020-05-15 13:24] #184 closed

[2020-05-15 13:24] BlairArchibald commented on #183
Merged in 26281869

[2020-05-15 13:24] #183 closed

[2020-05-15 13:27] bobturneruk commented on #97
Rather than a separate document, (some of) this information may be best in module docstrings after reorganisation of code (PR ScottishCovidResponse/Simple_simple_network_sim#20).

[2020-05-15 13:30] bobturneruk opened #239 "Change `.samplecsv` files to `.csv`"
As per title. Update code and `readme.md` as required. `.csv` files in `sample_input_files/` will not be `.gitignored` with the current settings.

[2020-05-15 13:31] aflag commented on #114
I've used https://coveralls.io/ before, never used codecov. But in jenkins there's a nice coverage UI that lets you look through the code and see what's covered and what's not. Having something like that is a nice to have, I think. But not really that critical. As you say, just looking at it in the pytest output is likely enough for now

[2020-05-15 13:32] bobturneruk opened #240 "(Re)move data wishlist"
Move https://github.com/ScottishCovidResponse/simple_network_sim/blob/master/data_wishlist_plans to a more appropriate location either in this repository or elsewhere (e.g. MS Teams, data repo?).

[2020-05-15 14:05] sam-brett commented on #129
Complete

[2020-05-15 14:05] #129 closed

[2020-05-15 14:05] #128 closed

[2020-05-15 14:05] sam-brett commented on #127
complete

[2020-05-15 14:05] #127 closed

[2020-05-15 14:06] #126 closed

[2020-05-15 14:06] sam-brett commented on #125
complete

[2020-05-15 14:06] #125 closed

[2020-05-15 14:06] sam-brett commented on #54
complete

[2020-05-15 14:06] #54 closed

[2020-05-15 14:12] vinopm commented on #187
I feel like we should avoid manually copying over classes (with their tests) from project to project. How about having a separate project with common classes/utils and then we can import them in via gradle into these two projects? @johnnonweiler thoughts?

[2020-05-15 14:59] johnnonweiler commented on #187
I think that there's currently not a lot in common between the two projects, and it's better to keep things simple (and separate) for the moment.  If we start sharing more code, then we should think again.

[2020-05-15 15:03] johnnonweiler commented on #187
I should emphasize that probably some of the imported classes are not being used and should be removed (rather than adding their tests).

[2020-05-15 15:04] vinopm commented on #187
Okay sure, I'll have a look at it.

[2020-05-15 15:11] vinopm commented on #187
https://github.com/ScottishCovidResponse/Covid_Simulation_Model/pull/24

[2020-05-15 15:12] johnnonweiler opened #241 "Write unit tests for DailyStats.java"

[2020-05-15 15:48] #203 closed

[2020-05-15 15:49] #91 closed

[2020-05-15 16:22] #187 closed

[2020-05-15 18:02] ianhinder opened #242 "Segmentation fault in CoronaPMCMC"
When I run CoronaPMCMC, I get a segmentation fault:
[code]
gdb reports:
[code]
In the code, we have
[code]
So sett is too large to be used as an index for the array.

This is with g++ (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0.

[2020-05-15 19:57] ianhinder commented on #242
Compiling with -O3 seems to hide the problem.  I had been compiling without it.  In that case, the run finishes without crashing:
[code]

[2020-05-15 20:53] chrispooley commented on #242
This issue has been sort out. The variable sett which keeps track of time variation in beta was straying beyond the time at the end of the simulation due to a small bug.

[2020-05-15 20:53] #242 closed

[2020-05-15 21:35] richardreeve commented on #210
Unfortunately we don't know anyone either. I'm hoping that @eaferguson or @dpascall will be able to work out what it ought to be doing from the paper, but if not then I think the best thing to do is to raise an issue in the parent repository if anything is unclear. If not then we can trying contacting Adam Kucharski, but no-one really knows him and he's going to be super busy...

[2020-05-16 10:15] kzscisoft commented on #120
This can be fixed in a better way by adding: `GIT_TAG release-1.10.0` to the file `test/CMakeLists.txt`, i.e. the latest tagged release of gtest seems to work.

[2020-05-16 10:20] richardreeve commented on #214
Yes, this seems to be a bug in github. I think we may need to drop the shortcuts and just refer to ScottishCovidResponse/SCRCIssueTracking#214 instead, which is clunky, but I think / hope it works. Need to fix the documentation and send out an email though...

[2020-05-17 09:50] AlexRobson commented on #229
^ @sdl1 I think I may know what you mean, but could you sketch out more details? Something like a (for sake of argument, because naming things is hard), a `EpiDataZoo` ?

[2020-05-17 09:52] AlexRobson commented on #229
[code]

[2020-05-17 12:19] richardreeve commented on #226
This is definitely important. Once we understand what these are - @dpascall @eaferguson - we can separate them out and hopefully add them into our data pipeline so we can replace them with better estimates if we have them...

[2020-05-17 12:47] richardreeve commented on #74
It would be great if we could also test that people's org labels in the `people.toml` file are valid (i.e. present in `orgs.toml`) and that email addresses are unique - I realised a couple of days ago that I had added someone in a second time when I should have just fixed their github id...

I also wonder whether it's possible to check the membership list of the org - https://developer.github.com/

[2020-05-17 16:16] richardreeve commented on #229
Yes, I'm a little bit unclear. If a lightweight package makes sense then great, but can we do something automated like [DataDepsGenerators.jl](https://github.com/oxinabox/DataDepsGenerators.jl) and some continuous integration when the data repository updates... or is that the kind of thing you mean in fact?

[2020-05-17 17:42] richardreeve commented on #83
Time: May 18, 2020 02:00 PM London

Join Zoom Meeting
https://uofglasgow.zoom.us/j/93946237570

Meeting ID: 939 4623 7570
One tap mobile
+442034815240,,93946237570# United Kingdom
+442080806591,,93946237570# United Kingdom

[2020-05-17 19:50] AlexRobson commented on #148
Given that the viral and human populations update differently anyway, and (i think) that both need to update the grid location too, would it make sense to do something along these lines:

[code]

and build `EpiSystem` around:

"""
mutable struct EpiSystem{EE <: AbstractEpiEnv, EL <: EpiList, ER <: AbstractTraitRelationship} <: AbstractEpiSystem{EE, EL, ER}
  abundances::EpiLandscape{Human}
  abund

[2020-05-17 21:05] AlexRobson commented on #148
Comment above has been edited quite a lot by me, and it's still a mess :) I will probably edit this too:

TL;DR: I want to clarify a couple of things:

1) For the original option [add a new matrix to EpiLandScape], I'm getting a bit stuck on how to update https://github.com/ScottishCovidResponse/Simulation.jl/blob/dev/src/Epidemiology/EpiLandscape.jl#L37 in light of the fact that we are populating

[2020-05-17 21:25] richardreeve commented on #148
Cool. Thanks for thinking this through and coming up with some options. This may actually tie into the discussion at 2 on Mon about how to represent different interacting factors in the model... weee you thinking of coming to that?

[2020-05-18 08:26] claireh93 commented on #148
Hi Alex, that's a good point and I hadn't thought about (2) in the first instance, but I think it would be a good direction to head in because it would save a lot of headaches with indexing. Perhaps for now we could put through the smaller changes needed for (1) and think about how (2) might work in the meeting today and following?

As far as (1) goes, `counttypes` and `countsubcommunities` are fu

[2020-05-18 08:27] claireh93 commented on #148
Sorry I'm not sure whether that totally makes sense, perhaps we can catch up separately at some point to talk all of that through.

[2020-05-18 08:36] richardreeve commented on #148
Claire and I can have a chat about this after our separate meeting at 11, but the implications for counttypes may need thinking through depending on how it’s used. Gah. It should be the total number of virus + human types though. My concern is it may be being used to define iterators over type-by-subcommunity matrices, which wouldn’t work now...

[2020-05-18 08:41] claireh93 commented on #148
Surely it shouldn't be virus + human types if we are having two separate matrices? But yes, we can talk this through later!

[2020-05-18 08:58] bobturneruk commented on #239
Also rename `data_dictionary.md` `readme.md` so displayed on GitHub.

[2020-05-18 09:08] kzscisoft commented on #120
@thibaud-porphyre it should work now on your Mac. I think we can close this issue @peter-t-fox?

[2020-05-18 09:20] magicicada opened #243 "Add latest model overview to documentation"

[2020-05-18 09:23] magicicada opened #244 "Experiment with inputs to generate roughly realistic model behaviour"
And document the parameters used.  As a starting point, parameters from similarly-engineered SCovMod

=======
Some experimentation done, using hard-coding of dampening, seeding, etc.  For better experimentation with documentation, need more model functionality (and a few bug fixes).  Spawned issues:
SCRCIssueTracking#282
SCRCIssueTracking#284
SCRCIssueTracking#288
SCRCIssueTracking#285
SCRCIssueTr

[2020-05-18 09:32] peter-t-fox commented on #120
@thibaud-porphyre If you uncomment the line `add_subdirectory(test)` from the top-level `CMakeLists.txt` file, and re-run the `cmake ..` and `make` commands in the `build` directory, everything should work. If you can confirm this, we can then close the issue.

[2020-05-18 09:38] AlexRobson commented on #148
Unfortunately I can't make that meeting (have another call at that time). Regarding a path going forward to close this i'm happy to focus just on (1) for now, but I may need some guidance on how to handle the highlighted issues (subcommunity and counttypes as they seem like an epi question). Still it would make sense to talk through this rather than github threads.

[2020-05-18 09:43] kzscisoft commented on #119
Not sure you can do this, looking it up it seems that CMake just uses whatever is set by `CXX` and `CC` environment variables, it has no control over forcing these. I am looking into adding Clang to the GitHub actions.

[2020-05-18 09:50] BlairArchibald commented on #176
Believe this is now fixed with a singleton static RNG used throughout

[2020-05-18 09:50] #176 closed

[2020-05-18 10:18] peter-t-fox commented on #207
@thibaud-porphyre Do you need someone to review these changes and merge them into `dev`? If so, please create a pull request for the appropriate branch, specifying what changes need to be made to the `parameters.ini` file, and also whether or not the reference outputs in the regression tests will need to be updated. I can then assign someone to do this.

[2020-05-18 10:23] peter-t-fox opened #245 "Timestamp model output files"
Related to #94

The output text files form the model do not indicate when they were generated or anything about the configuration that was in use when they were produced. This is not great for traceability.

The names of the files should be updated to include a time stamp at which they were produced, identical to the timestamp used for the log files in `outputs/logs`.

If the timestamp for the mod

[2020-05-18 10:26] bobturneruk commented on #9
Hi all! On [simple network sim](https://github.com/ScottishCovidResponse/simple_network_sim) we're currently using `.csv` for input and output. As advised we're deliberately not refining this too much as we understand we want to implement a `.hdf5` based solution across SCRC.

My understanding of `.hdf5` is that it's almost like a file system within a file, so it ideally needs a written specificat

[2020-05-18 10:32] aflag opened #246 "Rename data_dictionary.md to README.md"
If we rename https://github.com/ScottishCovidResponse/simple_network_sim/blob/master/sample_input_files/data_dictionary.md to https://github.com/ScottishCovidResponse/simple_network_sim/blob/master/sample_input_files/README.md it should show up nicely for everyone who navigates to https://github.com/ScottishCovidResponse/simple_network_sim/blob/master/sample_input_files/ in the github interface

[2020-05-18 10:44] bobturneruk commented on #97
Differentiate between "population" and "individual" models.

[2020-05-18 11:20] magicicada opened #247 "Add updated model overview to repo"

[2020-05-18 12:05] WPettersson commented on #114
Codecov also does let you drill down and show, line-by-line, which lines are run by tests, including how many times each line is encountered.

re. Jenkins, do you have a particular Jenkins host in mind?

[2020-05-18 12:20] alysbrett commented on #210
Yes, @kzscisoft has raised an issue on the parent repo and had a response I think... can you link to it here please Kristian?

[2020-05-18 12:40] thibaud-porphyre commented on #245
Agree. This log will be critical when we will run the code over all uk and for different scenario and time period

[2020-05-18 12:43] peter-t-fox opened #248 "Add Clang-Tidy to workflow"
Add use of Clang-Tidy to the project in the workflow

Specific things that would be good (either via this tool or another):
1. Detection of unused variables

[2020-05-18 12:45] thibaud-porphyre commented on #207
Hi Peter. I am still working on it. I will create a pull request asap.

[2020-05-18 12:54] aflag commented on #114
i'm just talking about the futures I'd like, I'm not suggesting to use jenkins here. codecov sounds fine.

[2020-05-18 12:56] kzscisoft commented on #210
Hi @alysbrett @richardreeve  here is the link to the issue. Someone has replied but they do not seem to be actually answering what I said from what I can determine, they seem to go completely off topic.

https://github.com/cmmid/covid-uk/issues/5

[2020-05-18 12:56] WPettersson commented on #114
I've pushed a branch at https://github.com/ScottishCovidResponse/simple_network_sim/tree/issue-137-ci-on-travis that enables Travis CI testing and code coverage reports using Anaconda, feel free to build off it for getting this going.

[2020-05-18 13:15] aflag commented on #114
Hm, we were talking about using github actions before, but given that you already have everything setup and working with travis, maybe we should just merge that in and consider it done, @bobturneruk ? Is anything missing from your implementation, @WPettersson ?

[2020-05-18 13:53] bobturneruk commented on #114
Great to see this moving forwards!

I don't object to Travis. From what I know they'll be doing fairly similar things. Almost certainly there's more Travis expertise in the world than in GitHub's equivalent. Maybe there's some accounts stuff to think about? Would we need a Travis (and codecov) account to get this working? I forget how all the triggering is set up...

Also, how is the coverage repo

[2020-05-18 14:10] WPettersson commented on #114
I don't think anything is missing, but could be wrong. I also wrote it for Travis since that's what I'm most comfortable with (i.e. could do it off the top of my head). Happy to convert to Github Actions as well.

[2020-05-18 14:32] kzscisoft opened #249 "Better handling of relative script calls"
This is connected to trying to add coverage checking to the CMake build.

I have found a cmake module which can be included to automate this, however you have to pass it an executable and when I choose the `Covid19EERAModel` binary to run from within the build directory (where CMake is called) it crashes because it cannot locate the input files and other scripts due to the paths not being absolute

[2020-05-18 14:48] aflag commented on #230
Sounds good to me!

[2020-05-18 15:04] kzscisoft commented on #249
I have found a solution using:
[code]
then referring to this within `main.cpp` and setting its value within CMake:
`-DROOT_DIR=\"${CMAKE_PROJECT_DIR}\"`

[2020-05-18 15:18] alysbrett commented on #210
I think it is someone else who is trying to run the model. They do give a link to a relevant issue about the dropbox file thing but then also raising their own separate issues about a specific scenario.

[2020-05-18 15:28] alex-konovalov commented on #114
Just discovered this issue (thanks @aflag and @bobturneruk for pointing to it). Incidentally, I also submitted a PR https://github.com/ScottishCovidResponse/simple_network_sim/pull/24 adding support for Travis CI and Codecov. We use Travis CI and Codecov in a number of projects, that's why I choose them, but we also use Coveralls and experiment now with GitHub actions, and both seems very usable t

[2020-05-18 15:29] peter-t-fox opened #250 "Code Review: select_obs function"
Function: `select_obs`
Location: `Model.cpp`
Purpose: Computation of corrected incidences for cases and deaths time series

Signature:
[code]

1. The `seqTime` variable is not used and should be removed
2. The function exclusively acts on the cases and deaths time series for a particular Health Board, so there is no reason to pass the entire cases/deaths data sets into the function.
3. The code il

[2020-05-18 15:45] alex-konovalov commented on #110
I believe that Jupyter notebooks may have a strong potential for disseminating the project. For documenting, Jupyter-based tutorials may also be useful. I put together a template for publishing reproducible experiments in Python Jupyter notebooks runnable on Binder and Azure Notebooks some time ago - please see here: https://github.com/rse-standrewscs/python-binder-template (it does not have Codec

[2020-05-18 15:46] thibaud-porphyre commented on #250
4. the first loop is to create the vectors of observations based on the input files. basically, it defines what data will be used for the rest of the model. it also define t_index, which is the time of the first detected cases within the unit of interest.
* re.negative incident events: it shouldn't occur (ever) but unfortunately it does because cases are re-allocated between health board but the d

[2020-05-18 16:08] sdl1 commented on #229
Yes I was just imagining something to store the DataDeps registration blocks / handle updating datadeps / provide a nice interface, as in Alex's example. The advantage of a separate package would be decoupling Simulation releases from data releases, and allowing other Julia models to use it without needing to have Simulation.jl as a dependency. But I don't think having a separate package is a prio

[2020-05-18 16:21] WPettersson commented on #114
So there's one outstanding issue at least, which is the choice between using `spec-file.txt` and `environment.yml`. I think using either is okay, and honestly I think it best to set up CI to test both. I also propose we use @alex-konovalov's direct python CI implementation (outside of Conda, and using python3.{6,7,8}). The `spec-file.txt` tests could be considered the de facto standard for making

[2020-05-18 16:56] aflag commented on #114
I agree with you. If the spec-file.txt tests are passing we have confidence that we can recreate the same environment and get things working at any point in time in future. With environment.yml we are less certain, because it doesn't tell us all the versions of the eggs we need installed. But it's nice to test against environment.yml as well (specially if we can use it to test the code in mac and

[2020-05-18 17:22] aflag opened #251 "Use python's logging library"
We've been using print to log things in the code so far, if we use python's logging we can benefit from log levels and possibly sending logs over to other streams rather than stdout.

[2020-05-18 17:46] aflag commented on #165
One thing related to this. https://github.com/ScottishCovidResponse/simple_network_sim/blob/master/sample_input_files/paramsAgeStructured encodes the progression of the (just missing the S -> E connection). Maybe, one of the tasks for this could be to encode the entire graph in that file. The way I think this relates to removing hardcoded parameters is that we could also encode which nodes are con

[2020-05-18 18:05] WPettersson commented on #114
I pushed to the branch  issue-137-ci-on-travis recently - it's ready for merging, with a few caveats:

* I am also adding requirements.txt and requirements-test.txt for the
  extra tests
* I had to remove a line "@EXPLICIT" from spec-file.txt. I don't know
  what the purpose of this line is, it seemed extraneous and conda
  complained when trying to create an environment with it. If anyone
  more

[2020-05-18 18:06] bobturneruk commented on #114
I've asked @aflag to pick this up and progress to the point where we have some level of CI operational for now. Once this is up and going, it would be great to raise issues stemming from this thread to improve e.g. support running in multiple environments / OSs / Python versions etc. I think the most important things is to have an environment that's as tightly specified as we can get and runs the

[2020-05-18 18:07] bobturneruk commented on #114
We will need to ensure that any credentials are managed appropriately. Long term it's not appropriate for our CI to be linked to specific user account credentials, but we can work on this.

[2020-05-18 18:08] bobturneruk commented on #114
Thank you for your excellent input on this topic - I really appreciate the discussion - it will definitely raise the standard of the project! Keep it coming!

[2020-05-18 19:03] WPettersson commented on #114
On the credentials side, the CI won't be linked to specific user accounts. Instead, the CI requires someone with "admin" privileges (on Github) to enable CI and code coverage reports. Once it's enabled (by any admin), it's enabled for the repository without being linked to any one account.

Also, both Travis CI and codecov authenticate via Github, so there's no need for new accounts or anything li

[2020-05-18 21:49] richardreeve commented on #9
The simple answer is you haven't missed anything - we're trying to get to grips with this by Thursday when we'll have a meeting about it. So opinions are welcome in the meanwhile... however:

On the input side for hdf5, the current thought (opinions welcome!) is that the "filesystem" will contain all of the spatial / temporal / whatever resolutions for a single dataset. So for the demographic data

[2020-05-18 21:57] richardreeve commented on #210
It looks like nicholasdavies responded to that closed issue, so it may be worth coming up with a specific question and @'ing him directly. What exactly do you want to know in the first instance?

[2020-05-18 22:18] richardreeve commented on #229
I'm not concerned about it being a separate package tbh, although them not being in the registry will make installation more complicated I guess. However, looking at the DataDeps pages, can't we have something that automatically handles any of our datasets - the idea is that all of the relevant information to access a given dataset will be both (a) in a human readable form (toml) in one of our git

[2020-05-18 22:42] richardreeve commented on #148
Yes. If there's something else you can work on then we can discuss it on Wed? Otherwise let em know and we can find a time to chat...

[2020-05-19 07:54] #119 closed

[2020-05-19 08:21] bobturneruk opened #252 "Include code to generate network diagram in repository?"
@magicicada - please append example code to this issue if time allows.

https://github.com/ScottishCovidResponse/simple_network_sim/blob/master/assets/sampleNetwork.png

[2020-05-19 08:29] BlairArchibald commented on #180
As a heads up if anyone takes this issue - I'm currently working on some place refactorings that should make this sort of thing much easier. Same with picking larger shops etc when going for a shopping trip.

[2020-05-19 08:36] bobturneruk commented on #165
Where is `S -> E` currently, please?

[2020-05-19 08:40] bobturneruk commented on #251
Moving from `print` to `logging` changed my life. I strongly feel that we should do this.

https://docs.python.org/3/library/logging.html

[2020-05-19 08:41] bobturneruk commented on #114
Great @WPettersson - thanks for clearing that up.

[2020-05-19 08:44] #96 closed

[2020-05-19 08:45] #247 closed

[2020-05-19 08:49] magicicada commented on #251
I have never used this, but am willing to learn on this strong recommendation.

[2020-05-19 08:50] magicicada commented on #230
Strongly agree.

[2020-05-19 08:52] #243 closed

[2020-05-19 08:54] bobturneruk commented on #251
It's so good. You'll never `print` again. Maybe sometimes.

[2020-05-19 08:57] aflag commented on #114
@WPettersson regarding the requirements.txt and spec-file.txt. Didn't this work when creating the conda environment?

```conda create --name simple_network_sim --file spec-file.txt```

I'd rather not have two more files with the dependencies information. The reason we don't have a setup.py was that, for instance. And, if we do, we'll probably want to read the dependencies from the conda enviornmen

[2020-05-19 08:58] alex-konovalov commented on #114
Just to add that one can enable Travis and Codecov prior to merging the `issue-137-ci-on-travis` branch, and if a PR will be submitted from that branch, we will be able to check once more that the setup works prior to merging it.

[2020-05-19 08:59] bobturneruk commented on #114
Thanks - I most recently used GitHub actions (happy with Travis though) thus got myself confused. I think @aflag will implement this if sufficiently "privileged"!

[2020-05-19 09:02] WPettersson commented on #114
@aflag That conda script works fine (bar the possibly-extraneous @EXPLICIT tag) for the conda tests, but the regular python tests need some other way of reading the requirements. If we don't want to store the requirements*.txt files, one option is to instead store some way of extracting pip-suitable information from environment.yml. The other option is to drop the tests from outside of conda, so w

[2020-05-19 09:27] aflag commented on #114
Which regular python tests? The current test requirements are already inside environment.yml, aren't they?

BTW, this seems to work fine without complaints here:

[code]

what's the command did you use exactly to read the spec-file.txt?

[2020-05-19 09:33] WPettersson commented on #114
For regular python tests, I mean not using conda, but just python directly.

For the spec-file.txt issue, see https://travis-ci.com/github/WPettersson/simple_network_sim/jobs/336185665 - it complains about @explicit but if I remove that line, it works fine. It's downloading the latest conda on each run, so it can't be failing due to an old version, and I don't know what else it could be.

[2020-05-19 09:43] aflag commented on #114
@WPettersson I think the idea is that conda will always be used. The command being executed in that job is ```conda env create --name simple_network_sim -f spec-file.txt```. Note that that's slightly different from ```conda create --name test --file spec-file.txt```

[2020-05-19 09:47] WPettersson commented on #114
Ooh, thanks for that pointer. I didn't realise that the env was even missing. I wonder what the technical difference actually is.

I'll go back to just testing within Conda. Do you still want two tests, one with spec-file.txt and one with environment.yml? Or just the one test, with spec-file.txt?

[2020-05-19 09:56] aflag commented on #114
I think we can start off with the spec-file.txt only.

[2020-05-19 10:01] WPettersson commented on #114
Ok I've made a PR at https://github.com/ScottishCovidResponse/simple_network_sim/pull/26 for CI using the spec-file.

[2020-05-19 10:04] bobturneruk commented on #114
Current plan is 100% conda. Happy to discuss this, but maybe needs it's own issue.

[2020-05-19 10:16] qingfengxia commented on #119
in CI script:   `CXX=clang++  cmake ..`   end even debug/release switch, C++ std version, this is the recommended way to change cmake options.

[2020-05-19 10:20] qingfengxia commented on #118
C++ is not really the language for data plot(viz) and preprocessing data.  Have you/anyone considered the reversed way, keep the workflow at bash shell, or R/python level.

If what we needs a program take file name as input parameter (R numeric vector is fine), and output data file, then the bash shell workflow is fine.

If only several API will be exported to R/Python,  then it is straight-forwar

[2020-05-19 10:25] kzscisoft commented on #119
@qingfengxia Yes once step ahead of you on that (See https://github.com/ScottishCovidResponse/Covid19_EERAModel/commit/0d8897b4af76472f9a1ecbf65df2af7f9dba1b2b)

[2020-05-19 10:56] bobturneruk opened #254 "Document CI"
- Relevant links to travis and codecov
- How do these services interact with GitHub for this project

In readme for now.

[2020-05-19 11:20] WPettersson opened #255 "Fix unit test of MixingMatrix"
CI shows one failure in testing, with the loading of invalid MixingMatrix files.

[2020-05-19 12:30] qingfengxia commented on #119
sorry, for my outdated comment, as I have not catch up the situation.  I thought it was an issue at the dicussion stage.

________________________________
From: Kristian Zarębski <notifications@github.com>
Sent: 18 May 2020 09:43
To: ScottishCovidResponse/SCRCIssueTracking <SCRCIssueTracking@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [ScottishCovidResponse/SCRC

[2020-05-19 12:49] alex-konovalov commented on #254
Also add badges to the readme to display status and ease navigation.

[2020-05-19 13:01] qingfengxia opened #256 "split my_model() or make a class (to simplify parameter passing and unit test)"
This is kind of code refactoring,  it may break the code, so will need to be carefully and well planned.

The reason is:
1) this function is impossible to unit test
2) too many parameter, hard to remember

At this stage,  I hope to hear from the author and other developers
1) Is OO/class refactoring an acceptable way?   optional , it should make model more readable, but ti will break the code.

2)